.container
	.row
		.col-md-12.text-center
			%h1.page-head Sign up
	.row
		.col-md-4.col-md-offset-4

			= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
				= f.error_notification 

				= f.input :email, required: false, autofocus: true, as: :email , input_html: { required: true }
				= f.input :password, required: false, input_html: { required: true }
				= f.input :password_confirmation, required: false , input_html: { required: true }
			  

				.form-group
					= f.button :submit, "Sign up" 
