.description
	.col-md-12
		%strong= comment.created_at.strftime("%B %d, %Y")
		%em 
			by
			= link_to comment.user.name, comment.user
			about
			= link_to comment.object.name, comment.object
		%p= comment.content
