.timeline-block{"data-item-type" => "comment", "data-item-id" => comment.id}
  %ul.comment.pd-left10.pd-right10.pd-top10
    %li
      .person-img.fl-left
        .person-img-inner
          = image_tag(comment.user.avatar.present? ? comment.user.avatar.url : "silhouette96.png")
      .person-name
        %p.text-right.time-st=comment.created_at.strftime("%B %d, %Y")
        %p.text-left.color-blue.ellipsis=comment.user.name
    %li.clearfix
    %li.ft-size12.font-weight-300=truncate comment.content, length: 140
    %li.text-right.bottom-border