%table.table.table-bordered
	%thead
		%tr
			%th ID
			%th User
			%th Target
			%th Message
			%th Created
			%th Delete
	%tbody
		- comments.each do |comment|
			%tr
				%td= comment.id
				%td= link_to comment.user.name, comment.user
				%td= link_to comment.object.name, comment.object
				%td= comment.content
				%td= comment.created_at.strftime("%B %d, %Y")
				%td= link_to "Delete", comment, method: :delete