#myModal.modal.fade.form{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
	.modal-dialog.small-modal
		.modal-content
        
			.modal-body
				%button.close{"data-dismiss" => "modal", "aria-hidden" => "true" } ×
				.row
					#resource-item
						.row
							.col-md-10.col-md-offset-1
								= simple_form_for :comment, :html => {class: 'form-horizontal', novalidate: false}, url: comments_path, remote: true do |f|
									= f.input :commentable_id, :as => :hidden, :input_html => { :value => @object.id }
									= f.input :commentable_type, :as => :hidden, :input_html => { :value => @object.class.to_s }
									= f.input :content, as: :text, placeholder: "Description", required: false, label: false
									.form-group
										= f.button :submit, "Save", class: "btn btn-default"