= simple_form_for :comment, :html => {class: 'new-comment-form', novalidate: false}, url: comments_path, remote: local_assign[:remote_true] ? true : false do |f|
  = f.input :commentable_id, :as => :hidden, :input_html => { :value => @object.id }
  = f.input :commentable_type, :as => :hidden, :input_html => { :value => @object.class.to_s }
  %span.map-close-button.icon
  %span.text-camera-icon.icon
  = f.input :content, as: :text, placeholder: "your comment...", required: true, label: false
  .form-group
    = f.button :submit, "Add", class: "btn btn-default"