.timeline{"data-type"=>"comment"}
	%header 
		%h5 Comments

		- if controller_name != "favourites"
			%select
				%option{value: "off"} Off
				%option{value: "day"}	Day
				%option{value: "month"} Month
				%option{value: "year"} Year
				%option{value: "decade"} Decade
	%section
		.timeline-body
			.timeline-wrapper
				.timeline-line
				.timeline-collection
					- if collection.present?
						= render partial: "comments/timeline_item" , collection: collection, as: :comment