- if params[:granularity] && comment.distance_in_time && comment.distance_in_time != 0
  .distance-in-time{style: "margin-top: #{15 * comment.distance_in_time}px"}
    %date= display_date(comment.created_at, params[:granularity])


.timeline-block{"data-item-type" => "comment", "data-item-id" => comment.id}
  .timeline-point
    = link_to  edit_comment_path(comment) do
      .roundblock
  .timeline-content.comment
    %header
      %figure
        = image_tag(comment.user.avatar.present? ? comment.user.avatar.url : "silhouette96.png", width: "40px", height: "40px")
        %figcaption
          = comment.user.name
          %date
            = comment.created_at.strftime("%B %d, %Y")
    %article
      .comment-content
        = truncate comment.content, length: 140 

        - if comment.user == current_user
          %i.fa.fa-cog

    - if comment.user == current_user 
      %footer
        .comment-input{"data-url" => comment_path(comment)}
          %input{value: comment.content}
          %button{"data-action" => "save"} Save
          %button{"data-action" => "cancel"} Cancel

      