- if params[:comming_from] == "expansive"
  TimeLine.reloadComments();
- else 
  $('#myModal').modal('hide');
  $('textarea[name="comment[content]"]').val('');
  if (window.timelines.currentTimeline){window.timelines.config["comment"].timeline.reloadTimeline();} else {$.ajax({ dataType: "script", url: "#{polymorphic_path([@comment.object, Comment])}"});}