- if params[:new_view]
  TimeLine.commentMessageContainer.html('#{escape_javascript(render partial: "pages/expansive_right")}');
- else
  - if params[:page] && params[:page].to_i > 1
    - @comments.each do |comment|
      var newElement = '#{escape_javascript(render partial: "timeline_item" ,  locals: {comment: comment})}';
      window.timelines.addElement("comment",newElement);
  - else
    var collection = '#{escape_javascript(render partial: "timeline_item" , collection: @object ? @comments : nil, as: :comment)}';
    window.timelines.render("comment", collection);