.container
	.row
		.col-md-12.text-center
			%h1.page-head Comments
		.col-md-12
			- if @comments.any?
				= render partial: "comments", locals: {comments: @comments}
			- else
				%p
					There is no comments
					- if @object
						for 
						= link_to @object.name, @object
