.container
	.row
		.col-md-12.text-center
			%h1.page-head Add comment
		.col-md-4.col-md-offset-4
			= simple_form_for :comment, :html => {class: 'form-horizontal', novalidate: false}, url: comments_path do |f|
				= f.input :commentable_id, :as => :hidden, :input_html => { :value => @object.id }
				= f.input :commentable_type, :as => :hidden, :input_html => { :value => @object.class.to_s }
				= f.input :content, as: :text, placeholder: "Description", required: false, label: false
				.form-group
					= f.button :submit, "Save", class: "btn btn-default"