.media
  .media-left
    = link_to user_path(conversation.originator) do
      = image_tag(conversation.originator.avatar.url, class: "media-object")
  .media-body
    %h4.media-heading
      = conversation.originator.mailboxer_name
      %br
        %small
          %b Subject:
          = conversation.subject
        %br
          %small
            %b Date:
            = conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p")
    = truncate conversation.messages.last.body, length: 145
    = link_to "View", conversation_path(conversation), remote: true