= form_for :conversation, url: :conversations, remote: true, html: { class: "" } do |f|
  
  .form-group
    = f.label :recipients
    = f.select(:recipients, User.where("id <> ?", current_user.id).collect {|p| [ p.mailboxer_name, p.id ] }, {}, { multiple: true , class: "form-control chosen-select" })
  .form-group
    = f.label :subject
    = f.text_field :subject, placeholder: "Subject", class: "form-control"
  .form-group
    = f.label :message
    = f.text_area :body, class: 'form-control',placeholder: "Type your message here", rows: 4

  = f.submit "Send Message", class: "btn btn-success"

:javascript
  $(function(){
    $('.chosen-select').chosen({
      allow_single_deselect: true,
      no_results_text: 'No results matched',
    });
  });