
.media
  .media-left
    / user avators can go here
    %a{:href => "#"}
  .media-body
    %h4.media-heading
      = message.sender.mailboxer_name
      %br
        %small
          %b Subject:
          = message.subject
        %br
          %small
            %b Date:
            = message.created_at.strftime("%A, %b %d, %Y at %I:%M%p")
    = message.body