.row
  .spacer
  .col-md-12
    = link_to "Compose", new_conversation_path, remote: true, class: "btn btn-success"
    .spacer
  .col-md-4
    .panel.panel-default
      .panel-body
        = render 'mailbox/folders'
  .col-md-8
    .pull-right{style: "width:200px;"}
      = link_to "load messages", get_new_messages_conversations_path(id: @conversation.id), remote: true, class: "load_new_messages", style: "display:none;"
      = link_to "Resfresh", conversation_path(@conversation), remote: true, class: "btn btn-success btn-success pull-right"

      - if @conversation.is_trashed?(current_user)
        = button_to 'Restore', untrash_conversation_path(@conversation), remote: true, class: 'btn btn-xs btn-info pull-right ', method: :post
      - else
        = button_to 'Move to trash', conversation_path(@conversation), remote: true, class: 'btn btn-xs btn-danger pull-right', method: :delete, data: {confirm: 'Are you sure?'} 
    .panel.panel-default
      #conversation_messages.panel-body
        = render partial: 'conversations/messages'
      .panel-footer
        / Reply Form
        = form_for :message, url: reply_conversation_path(@conversation), remote: true do |f|
          .form-group
            = f.text_area :body, placeholder: "Reply Message", rows: 4, class: "form-control"
          = f.submit "Reply", class: 'btn btn-danger pull-right'
        .clearfix


  

