var htmlData = '#{escape_javascript(render partial: 'conversations/show')}';
MailBox.renderContent(htmlData);

if (typeof loadMessages != undefined){
clearInterval(loadMessages);
}

var loadMessages = setInterval(function(){$('a.load_new_messages').trigger('click')}, 15000);