.container
	= simple_form_for :description, :html => {class: 'form-horizontal', novalidate: false}, url: descriptions_path do |f|
		= f.input :descriptable_id, :as => :hidden, :input_html => { :value => object.id }
		= f.input :descriptable_type, :as => :hidden, :input_html => { :value => object.class.to_s }
		= f.input :content, as: :text, placeholder: "Description", required: false, label: false
		.form-group
			= f.button :submit, "Save", class: "btn btn-default"