%header

  - if object

    - unless current_user.follow? object
      = link_to "New favourite", favourites_path(favourite: {favouritable_type: object.class.to_s, favouritable_id: object.id}), class: "btn btn-primary new-resource btn-xs btn-branded", method: "post", remote: true
    - else
      = link_to "Unfollow", object.favourites.where(user: current_user).last, class: "btn btn-primary new-resource btn-xs btn-branded", method: "delete", remote: true


    = link_to "Comment", polymorphic_path(object) + "/comments/new", class: "btn btn-primary new-resource btn-xs btn-branded", remote: true

%section
  - if !object.present?
    %p No item selected
  - else
    - if (object.user == current_user) || current_user.admin? || current_user.super_user?
      %a{href: "/#{object.class.name.pluralize.downcase + '/' + object.id.to_s + '/edit'}", "data-remote" => "true"}
        %p= object.description.present? ? (raw object.description) : "Add Content"
    - else
      %a{href: "/#{object.class.name.pluralize.downcase + '/' + object.id.to_s}"}
        %p= object.description.present? ? (raw object.description) : "No description"

