= simple_form_for(:user, as: :user, url: session_path(:user), html: {class: "navbar-form navbar-right"}) do |f| 
	.form-group
		= f.input :email, required: true, label: false, placeholder: "Email", :input_html => {class: "form-control", required: true, autocomplete: "off"} 
	.form-group
		= f.input :password, required: true, label: false, placeholder: "Password", :input_html => {class: "form-control", required: true, autocomplete: "off"}      
	.form-group
		= f.button :submit, "Log in", class: "btn"