%table.table.table-bordered
	%thead
		%tr
			%th ID
			%th First name
			%th Last name
			%th Email
			%th Created
			%th Role
			%th Enabled
			%th Authenticated
			%th 
	%tbody
		= render users


:javascript
	$("input, select").change(function(e){
		data = {"user": {}};

		if ($(this).hasClass("boolean")){
			data["user"][$(this).data("name")] = $(this).is(':checked') ? 1 : 0; 
		} else {
			data["user"][$(this).data("name")] = $(this).val();
		}

		$.ajax({
			method: "put",
			url: "/users/" + $(this).data("id"),
			data: data,
			dataType: "script"
		})
	});
