


- if current_user.admin? || current_user.super_user?
	%tr
		= simple_form_for user, :html => {novalidate: false} do |f|
			%td= user.id
			%td	
				= f.input :first_name, placeholder: "First name", required: false, label: false, input_html: {required: true, "data-id" => user.id, "data-name" => "first_name"}
			%td= f.input :last_name, placeholder: "Last name", required: false, label: false, input_html: {required: true, "data-id" => user.id, "data-name" => "last_name"}
			%td= f.input :email, as: :email, placegolder: "Email", required: false, label: false, input_html: {required: true, "data-id" => user.id, "data-name" => "email"}
			%td= user.created_at.strftime("%B %d, %Y")
			%td
				= f.input :role, collection: ["user", "admin", "super"], required: false, label: false, input_html: { required: true, "data-id" => user.id, "data-name" => "role"}

			%td= f.input :enabled, as: :boolean, required: false, label: false, input_html: {"data-id" => user.id, "data-name" => "enabled"}
			%td= f.input :authenticated, as: :boolean, required: false, label: false, input_html: {"data-id" => user.id, "data-name" => "authenticated"}
			%td
				.btn-group
					= link_to "Show", user, class: "btn btn-default btn-branded btn-xs"
					= link_to "Delete", user, method: :delete, class: "btn btn-default btn-branded btn-xs"



- else
	%tr
		%td= user.id
		%td= user.first_name
		%td= user.last_name
		%td= user.email
		%td= user.created_at.strftime("%B %d, %Y")
		%td= user.role

		%td= user.enabled ? "Enabled" : "Disabled"
		%td= user.authenticated ? "Authenticated" : "Not authenticated"
		%td
			.btn-group
				= link_to "Show", user, class: "btn btn-default btn-branded btn-xs"
				= link_to "Edit", edit_user_path(user), class: "btn btn-default btn-branded btn-xs"
				= link_to "Delete", user, method: :delete, class: "btn btn-default btn-branded btn-xs"