.container
	.row
		.col-md-12.text-center
			%h1.page-head New user
		.col-md-4.col-md-offset-4
			= simple_form_for @user, :html => {class: 'form-horizontal', novalidate: false} do |f|

				= f.input :first_name, placeholder: "First name", required: false, label: "First name"
				= f.input :last_name, placeholder: "Last name", required: false, label: "Last name"

				- if current_user.admin?
					= f.input :role, collection: ["user", "admin", "super"], required: false, label: "Role", input_html: { required: true }
					= f.input :enabled, as: :boolean, required: false, label: "Enabled"
					= f.input :authenticated, as: :boolean, required: false, label: "Authenticated"

				= f.input :email, as: :email, placegolder: "Email", required: false, label: "Email", input_html: {required: true }

				= f.input :avatar, as: :file



				.form-group
					= f.button :submit, "Save", class: "btn btn-default"

			.row
				= link_to "Back", level1s_path


