.container.user-profile
	.row#profile-block
		.col-md-12.text-center
			%h1.page-head= @user.name

	.row
		.col-md-12
			%h4.section-head Basic info
	
	#profile-block
		.row
			.col-md-8
				%dl.dl-horizontal
					.menu-item
						%dt ID:
						%dd= @user.id
					.menu-item
						%dt Name:
						%dd= @user.name
					.menu-item
						%dt Role:
						%dd= @user.role.capitalize
					.menu-item
						%dt Status:
						%dd= @user.enabled ? "Enabled" : "Disabled"

					.menu-item
						%dt Email:
						%dd= @user.email
					.menu-item
						%dt Created:
						%dd= @user.created_at.strftime("%B %d, %Y")

					.menu-item
						%dt Number of comments:
						%dd= @user.comments.count
					.menu-item
						%dt Added to favourite:
						%dd= link_to @user.favourites.count, user_favourites_path(@user)

				.btn-group

					- if current_user.admin? || current_user.super_user?
						= link_to "All", users_path, class: "btn btn-default btn-branded"

					= link_to "Edit", edit_user_path(@user), class: "btn btn-default btn-branded"
					= link_to "Delete", @user, class: "btn btn-default btn-branded", method: "delete"
					= link_to "Back", :back, class: "btn btn-default btn-branded"
			.col-md-4
				%figure
					= image_tag(@user.avatar.url, width: "100%")

	.row#profile-block
		.col-md-12
			%h4.section-head Level1s
		.col-md-12
			- if @user.level1s.any?
				= render partial: "level1s/level1s", locals: {level1s: @user.level1s}
			- else
				%p 
					There is no level1s yet.
					= link_to "Create first", new_level1_path

	.row#profile-block
		.col-md-12
			%h4.section-head Level2s
		.col-md-12
			- if @user.level2s.any?
				= render partial: "level2s/level2s", locals: {level2s: @user.level2s}
			- else
				%p 
					There is no level2s yet.


	.row#profile-block
		.col-md-12
			%h4.section-head Level3s
		.col-md-12
			- if @user.level3s.any?
				=# render partial: "level3s/level3s", locals: {level3s: @user.level3s}
			- else
				%p There is no level3s yet.

	.row#profile-block
		.col-md-12
			%h4.section-head Comments
		- if @user.comments.any?
			= render @user.comments.order("created_at desc")
		- else
			.col-md-12
				%p There is no comments yet