- if params[:granularity] && params[:granularity] != "off"

	%header
		- if level1s[0]
			.col-md-6{style: "padding-right: 0;"}
				%section.favourite-level1
					
					.timeline.right-handed
						%header 
							%h5= level1s[0].name.capitalize


		- if level1s[1]
			.col-md-6{style: "padding-left: 0;"}
				%section.favourite-level1
					
					.timeline.left-handed
						%header 
							%h5= level1s[1].name.capitalize

	%section

		- if level1s[0]
			.col-md-6{style: "padding-right: 0;"}
				%section.favourite-level1{"data-level1-id" => level1s[0].id}
					
					.timeline.right-handed
						.timeline-line

		- if level1s[1]
			.col-md-6{style: "padding-left: 0;"}
				%section.favourite-level1{"data-level1-id" => level1s[1].id}
					
					.timeline.left-handed
						.timeline-line

		- level1s.group_level2s_by_date(params[:granularity], params[:order]).each_pair do |date, group|
			.row.section-grouped-elements
				.timeline-groupes
					.col-md-12
						
						.distance-in-time.text-center{style: "margin-top: #{15 * group[:difference]}px"}
							%date= display_date(group[:date], params[:granularity])
		
						.timeline-grouped-level2s
							.col-md-6{style: "padding-right: 0;"}
								- level1_id = group[:level2s].keys[0]
								.timeline.right-handed
									- group[:level2s].values[0].each do |level2|
										%div{class: "favourite-level1-#{level1_id}"}
											.compare-wrapper{}
												.compare-level3s
													- if params["level3s"].include?(level1_id.to_s)
														.timeline-line-level3
														- level2.level3s.each do |level3|
															.timeline-block{"data-item-type" => level3.class.to_s.downcase, "data-item-id" => level3.id}
																.timeline-point
																	.roundblock
																.timeline-content
																	.timeline-content-wrapper
																		%header{class: "#{'has-image' if level3.avatar.present? }"}
																			.main-section
																				.timeline-content-section
																					%dd= level3.date.strftime("%B %d, %Y")
																				.timeline-content-section.timeline-obect-name
																					%dd= truncate level3.name, length: 40
																			- if level3.avatar.present?
																				.image-section
																					= image_tag(level3.avatar.url, width: "100%", height: "100%")

																		- if level3.description
																			%section
																				.timeline-content-section
																					%dd= strip_tags(level3.description).gsub("&#13;", "").truncate(160)

												.compare-level2s
													.timeline-block{"data-item-type" => level2.class.to_s.downcase, "data-item-id" => level2.id}
														.timeline-point
															.roundblock
														.timeline-content
															.timeline-content-wrapper
																%header{class: "#{'has-image' if level2.avatar.present? }"}
																	.main-section
																		.timeline-content-section
																			%dd= level2.date.strftime("%B %d, %Y")
																		.timeline-content-section.timeline-obect-name
																			%dd= truncate level2.name, length: 40
																	- if level2.avatar.present?
																		.image-section
																			= image_tag(level2.avatar.url, width: "100%", height: "100%")

																- if level2.description
																	%section
																		.timeline-content-section
																			%dd= strip_tags(level2.description).gsub("&#13;", "").truncate(160)
								:javascript
									var margin = $(".favourite-level1-#{level1_id} .compare-level2s .timeline-point").first().offset().top - $(".favourite-level1[data-level1-id=#{level1_id}]").offset().top;
									var height = $(".favourite-level1-#{level1_id} .compare-level2s .timeline-point").last().offset().top - $(".favourite-level1-#{level1_id} .compare-level2s .timeline-point").first().offset().top;
									$(".favourite-level1[data-level1-id=#{level1_id}] .timeline > .timeline-line").css("margin-top", margin);
									$(".favourite-level1[data-level1-id=#{level1_id}] .timeline > .timeline-line").css("height", height);


							.col-md-6{style: "padding-left: 0;"}
								- level1_id = group[:level2s].keys[1]
								- if level1_id
									.timeline.left-handed
										- group[:level2s].values[1].each do |level2|
											%div{class: "favourite-level1-#{level1_id}"}
												.compare-wrapper
													.compare-level3s
														- if params["level3s"].include?(level1_id.to_s)
															
															- level2.level3s.each do |level3|
																.timeline-block{"data-item-type" => level3.class.to_s.downcase, "data-item-id" => level3.id}
																	.timeline-point
																		.roundblock
																	.timeline-content
																		.timeline-content-wrapper
																			%header{class: "#{'has-image' if level3.avatar.present? }"}
																				.main-section
																					.timeline-content-section
																						%dd= level3.date.strftime("%B %d, %Y")
																					.timeline-content-section.timeline-obect-name
																						%dd= truncate level3.name, length: 40
																				- if level3.avatar.present?
																					.image-section
																						= image_tag(level3.avatar.url, width: "100%", height: "100%")

																			- if level3.description
																				%section
																					.timeline-content-section
																						%dd= strip_tags(level3.description).gsub("&#13;", "").truncate(160)
															.timeline-line-level3

													.compare-level2s
														- if params[:granularity] && level2.distance_in_time && level2.distance_in_time != 0
															.distance-in-time{style: "margin-top: #{15 * level2.distance_in_time}px"}
																%date= display_date(level2.date, params[:granularity])

														.timeline-block{"data-item-type" => level2.class.to_s.downcase, "data-item-id" => level2.id}
															.timeline-point
																.roundblock
															.timeline-content
																.timeline-content-wrapper
																	%header{class: "#{'has-image' if level2.avatar.present? }"}
																		.main-section
																			.timeline-content-section
																				%dd= level2.date.strftime("%B %d, %Y")
																			.timeline-content-section.timeline-obect-name
																				%dd= truncate level2.name, length: 40
																		- if level2.avatar.present?
																			.image-section
																				= image_tag(level2.avatar.url, width: "100%", height: "100%")

																	- if level2.description
																		%section
																			.timeline-content-section
																				%dd= strip_tags(level2.description).gsub("&#13;", "").truncate(160)

									:javascript
										var margin = $(".favourite-level1-#{level1_id} .compare-level2s .timeline-point").first().offset().top - $(".favourite-level1[data-level1-id=#{level1_id}]").offset().top;
										var height = $(".favourite-level1-#{level1_id} .compare-level2s .timeline-point").last().offset().top - $(".favourite-level1-#{level1_id} .compare-level2s .timeline-point").first().offset().top;
										$(".favourite-level1[data-level1-id=#{level1_id}] .timeline > .timeline-line").css("margin-top", margin);
										$(".favourite-level1[data-level1-id=#{level1_id}] .timeline > .timeline-line").css("height", height);


		:javascript
			$(".compare-level2s .timeline-block").click(function(){
				var _target = $(this);
				if (_target.hasClass("active")){
					_target.removeClass("active");
					$.ajax({ dataType: "script", url: "/resources"});
					$.ajax({ dataType: "script", url: "/descriptions"});
					$.ajax({ dataType: "script", url: "/comments"});
				} else {
					var url = "/level2s" + "/" + _target.data("item-id");
					$(".active").removeClass("active");
					_target.addClass("active");
					$.ajax({ dataType: "script", url: url + "/resources"});
					$.ajax({ dataType: "script", url: url + "/descriptions"});
					$.ajax({ dataType: "script", url: url + "/comments"});
				};

				if (_target.closest(".compare-wrapper").length > 0){
					var level3s = _target.closest(".compare-wrapper").find(".compare-level3s");
							
					if (level3s.length > 0){
						level3s.find(".timeline-block").first().addClass("first-child");
						$(".compare-wrapper .compare-level3s").hide();
						level3s.show();
						var margin = level3s.find(".timeline-point").first().offset().top - level3s.offset().top;
						var height = level3s.find(".timeline-point").last().offset().top - level3s.find(".timeline-point").first().offset().top
						level3s.find(".timeline-line-level3").css("height", height);
						level3s.find(".timeline-line-level3").css("margin-top", margin);

						level3s.find(".timeline-block").click(function(){
							var _target = $(this);
							if (_target.hasClass("active")){
								_target.removeClass("active");
								$.ajax({ dataType: "script", url: "/resources"});
								$.ajax({ dataType: "script", url: "/descriptions"});
								$.ajax({ dataType: "script", url: "/comments"});
							} else {
								var url = "/level3s" + "/" + _target.data("item-id");
								$(".active").removeClass("active");
								_target.addClass("active");
								$.ajax({ dataType: "script", url: url + "/resources"});
								$.ajax({ dataType: "script", url: url + "/descriptions"});
								$.ajax({ dataType: "script", url: url + "/comments"});
							};
						})
					}

				}


			})


- else

	%header
		- if level1 = level1s[0]
			.col-md-6{style: "padding: 0;"}
				%section
					.timeline.right-handed
						%header 
							%h5= level1.name.capitalize
		- if level1 = level1s[1]
			.col-md-6{style: "padding: 0;"}
				%section
					.timeline.left-handed
						%header 
							%h5= level1.name.capitalize

	%section
		- if level1 = level1s[0]
			.col-md-6{style: "padding: 0;"}
				%section{"data-level1-id" => level1.id}
					.timeline.right-handed				
						%section
							.timeline-body{style: "overflow: visible;height: auto;"}
								.timeline-wrapper
									.timeline-line
									.timeline-collection
										- level2s = params[:granularity] ? level1.level2s.order("date desc").calculate_distance_in_time(params[:granularity]) : level1.level2s
										- level2s.each do |level2|
											.compare-wrapper
												.compare-level3s
													- if params["level3s"].include?(level1.id.to_s)
														.timeline-line-level3
														- level2.level3s.each do |level3|
															.timeline-block{"data-item-type" => level3.class.to_s.downcase, "data-item-id" => level3.id}
																.timeline-point
																	.roundblock
																.timeline-content
																	.timeline-content-wrapper
																		%header{class: "#{'has-image' if level3.avatar.present? }"}
																			.main-section
																				.timeline-content-section
																					%dd= level3.date.strftime("%B %d, %Y")
																				.timeline-content-section.timeline-obect-name
																					%dd= truncate level3.name, length: 40
																			- if level3.avatar.present?
																				.image-section
																					= image_tag(level3.avatar.url, width: "100%", height: "100%")

																		- if level3.description
																			%section
																				.timeline-content-section
																					%dd= strip_tags(level3.description).gsub("&#13;", "").truncate(160)

												.compare-level2s
													- if params[:granularity] && level2.distance_in_time && level2.distance_in_time != 0
														.distance-in-time{style: "margin-top: #{15 * level2.distance_in_time}px"}
															%date= display_date(level2.date, params[:granularity])

													.timeline-block{"data-item-type" => level2.class.to_s.downcase, "data-item-id" => level2.id}
														.timeline-point
															.roundblock
														.timeline-content
															.timeline-content-wrapper
																%header{class: "#{'has-image' if level2.avatar.present? }"}
																	.main-section
																		.timeline-content-section
																			%dd= level2.date.strftime("%B %d, %Y")
																		.timeline-content-section.timeline-obect-name
																			%dd= truncate level2.name, length: 40
																	- if level2.avatar.present?
																		.image-section
																			= image_tag(level2.avatar.url, width: "100%", height: "100%")

																- if level2.description
																	%section
																		.timeline-content-section
																			%dd= strip_tags(level2.description).gsub("&#13;", "").truncate(160)
			
				:javascript
					var tl = $("[data-level1-id=#{level1.id}] .timeline");
					var contoller = new FavouriteController(tl, #{current_user.id}, window.timelines);


		.col-md-6{style: "padding: 0;"}
			- if level1 = level1s[1]
				%section{"data-level1-id" => level1.id}
					.timeline.left-handed					
						%section
							.timeline-body{style: "overflow: visible; height: auto;"}
								.timeline-wrapper
									.timeline-line
									.timeline-collection
										- level2s = params[:granularity] ? level1.level2s.order("date desc").calculate_distance_in_time(params[:granularity]) : level1.level2s
										- level2s.each do |level2|
											.compare-wrapper
												.compare-level3s
													- if params["level3s"].include?(level1.id.to_s)
														
														- level2.level3s.each do |level3|
															.timeline-block{"data-item-type" => level3.class.to_s.downcase, "data-item-id" => level3.id}
																.timeline-point
																	.roundblock
																.timeline-content
																	.timeline-content-wrapper
																		%header{class: "#{'has-image' if level3.avatar.present? }"}
																			.main-section
																				.timeline-content-section
																					%dd= level3.date.strftime("%B %d, %Y")
																				.timeline-content-section.timeline-obect-name
																					%dd= truncate level3.name, length: 40
																			- if level3.avatar.present?
																				.image-section
																					= image_tag(level3.avatar.url, width: "100%", height: "100%")

																		- if level3.description
																			%section
																				.timeline-content-section
																					%dd= strip_tags(level3.description).gsub("&#13;", "").truncate(160)
														.timeline-line-level3

												.compare-level2s
													- if params[:granularity] && level2.distance_in_time && level2.distance_in_time != 0
														.distance-in-time{style: "margin-top: #{15 * level2.distance_in_time}px"}
															%date= display_date(level2.date, params[:granularity])

													.timeline-block{"data-item-type" => level2.class.to_s.downcase, "data-item-id" => level2.id}
														.timeline-point
															.roundblock
														.timeline-content
															.timeline-content-wrapper
																%header{class: "#{'has-image' if level2.avatar.present? }"}
																	.main-section
																		.timeline-content-section
																			%dd= level2.date.strftime("%B %d, %Y")
																		.timeline-content-section.timeline-obect-name
																			%dd= truncate level2.name, length: 40
																	- if level2.avatar.present?
																		.image-section
																			= image_tag(level2.avatar.url, width: "100%", height: "100%")

																- if level2.description
																	%section
																		.timeline-content-section
																			%dd= strip_tags(level2.description).gsub("&#13;", "").truncate(160)

				:javascript
					var tl = $("[data-level1-id=#{level1.id}] .timeline");
					var contoller = new FavouriteController(tl, #{current_user.id}, window.timelines);