- if params["level3s"] || params["level2s"]
	- level1s = Level1.where(id: params["level2s"])
	
	- if params["level3s"] && params["level3s"].any?
		= render partial: "compare_level3s", locals: {level1s: level1s}
	- else
		= render partial: "compare_level1s", locals: {level1s: level1s}
