- if params[:granularity] && params[:granularity] != "off"

	%header
		- level1s.each do |level1|
			.col-md-3
				%section.favourite-level1
					.timeline
						%header 
							%h5= level1.name.capitalize

	%section
		- level1s.each do |level1|
			.col-md-3
				%section.favourite-level1{"data-level1-id" => level1.id}
					.timeline-line
		- level1s.group_level2s_by_date(params[:granularity], params[:order]).each_pair do |date, group|
			.row.section-grouped-elements
				.timeline-groupes
					.col-md-12
						
						.distance-in-time.text-center{style: "margin-top: #{15 * group[:difference]}px"}
							%date= display_date(group[:date], params[:granularity])
		
						.timeline-grouped-level2s
							- group[:level2s].each_pair do |level1_id, level2s|
								.col-md-3
									- level2s.each do |level2|
										.timeline-grouped-level2
											%div{class: "favourite-level1-#{level1_id}"}
												=  timeline_item(level2)
										
	- level1s.each do |level1|
		:javascript
			var margin = $(".favourite-level1-#{level1.id} .timeline-point").first().offset().top - $(".favourite-level1[data-level1-id=#{level1.id}]").offset().top;
			var height = $(".favourite-level1-#{level1.id} .timeline-point").last().offset().top - $(".favourite-level1-#{level1.id} .timeline-point").first().offset().top;
			$(".favourite-level1[data-level1-id=#{level1.id}] .timeline-line").css("margin-top", margin);
			$(".favourite-level1[data-level1-id=#{level1.id}] .timeline-line").css("height", height);

	:javascript
		$(".timeline-groupes .timeline-block").click(function(){
			var _target = $(this);
			if (_target.hasClass("active")){
				_target.removeClass("active");
				$.ajax({ dataType: "script", url: "/resources"});
				$.ajax({ dataType: "script", url: "/descriptions"});
				$.ajax({ dataType: "script", url: "/comments"});
			} else {
				var url = "/level2s" + "/" + _target.data("item-id");
				$(".active").removeClass("active");
				_target.addClass("active");
				$.ajax({ dataType: "script", url: url + "/resources"});
				$.ajax({ dataType: "script", url: url + "/descriptions"});
				$.ajax({ dataType: "script", url: url + "/comments"});
			};
		})

- else 

	%header
		- level1s.each do |level1|
			.col-md-3
				%section.favourite-level1
					.timeline
						%header 
							%h5= level1.name.capitalize

	%section

		- level1s.each do |level1|
			.col-md-3
				%section{"data-level1-id" => level1.id}
					.timeline				
						%section
							.timeline-body{style: "overflow-y: hidden;height: auto;"}
								.timeline-wrapper
									.timeline-line
									.timeline-collection
										- level2s = params[:granularity] ? level1.level2s.order("date desc").calculate_distance_in_time(params[:granularity]) : level1.level2s

										= timeline_items(level2s)

			:javascript
				var tl = $("[data-level1-id=#{level1.id}] .timeline");

				var contoller = new FavouriteController(tl, #{current_user.id}, window.timelines);