.timeline-block.favourite-item{"data-item-type" => favourite.object.class.to_s.downcase, "data-item-id" => favourite.object.id, "data-parent-id" => favourite.object.parentID ? favourite.object.parentID : nil, "data-item-name" => favourite.object.slug}
	.timeline-point
		= link_to  edit_polymorphic_path(favourite.object) do
			.roundblock
	.timeline-content
		.timeline-content-wrapper{style: "#{'width: calc(100% - 30px);' if favourite.object.class.to_s.downcase == 'level1'}"}
			%header
				.main-section
					.timeline-content-section
						%dd= favourite.object.date.strftime("%B %d, %Y")	
					.timeline-content-section.timeline-obect-name
						%dd= truncate favourite.object.name, length: 40	

				/ - if favourite.object.avatar.present?
				/ 	.image-section
				/ 		= image_tag(favourite.object.avatar.url, width: "100%", height: "100%")

			- if favourite.object.description.present?
				%section
					.timeline-content-section
						%dd= strip_tags(favourite.object.description).gsub("&#13;", "").truncate(160)

		- if favourite.object.class.to_s.downcase == "level1"
			.mode-checkboxes
				%input.compare-level2s{type: "checkbox"}
				%input.compare-level3s{type: "checkbox"}