flashMessage("#{@favourite.object.class.to_s} was added to favourite.");

var description = '#{escape_javascript(render partial: "descriptions/viewer", locals: {object: @favourite.object})}';
window.timelines.addDescriptionToViewer(description)