flashMessage("#{@object.class.to_s} was removed from favourite.");

var description = '#{escape_javascript(render partial: "descriptions/viewer", locals: {object: @object})}';
window.timelines.addDescriptionToViewer(description)