- if params[:page] && params[:page].to_i > 1
	- @favourites.each do |favourite|
		var newElement = '#{escape_javascript(timeline_item(favourite.object))}';
		window.timelines.addElement("favourite", newElement);

- else
	$("#comparison").html('#{escape_javascript(render partial: "comparison")}')
