.row-offcanvas.row-offcanvas-right		
	#main-content

		.col-md-2	
			%section
				.timeline
					%header{style: "height: 40px;"}
						#display-button
							%select#select-granualrity
								%option{value: "off"} Off
								%option{value: "day"}	Day
								%option{value: "month"} Month
								%option{value: "year"} Year
								%option{value: "decade"} Decade

							%select#select-order
								%option{value: "asc"} Ascending
								%option{value: "desc", selected: true} Descending

					%section
						.timeline-body
							.timeline-wrapper
								.timeline-line
								.timeline-collection
									= render @favourites
		.col-md-7
			#comparison
				= render partial: "comparison"

		.col-md-3#favourite-viewer
			%section#viewer{style: "position: relative;"}
				#description-viewer.timeline
					= render partial: "descriptions/viewer", locals: {object: nil}


				#media-viewer.timeline
					= render partial: "resources/viewer", locals: {object: nil}
		
	#toggable-comments
		= link_to "View comments", "#", class: "btn btn-primary new-resource btn-xs btn-branded"

	#comments.sidebar-offcanvas	
		= render partial: "comments/timeline", locals: {collection: @comments}	


:javascript


	$("#toggable-comments a").on("click", function(e){
		e.preventDefault();
		$(".row-offcanvas").toggleClass("opened");
	})

	$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
	    event.preventDefault();
	    $(this).ekkoLightbox();
	}); 

	$(document).ready(function(){

		var timeline = $(".timeline");
		var tm = new TimelineManager()

		var contoller = new FavouriteController(timeline, #{current_user.id}, tm);
		
		$("#display-button select").on("change", function(e){
			e.preventDefault();
			display();
		});
		
		$(".compare-level3s").attr("disabled", true);
		$("input[type=checkbox]").change(function(e){

			if ($(".mode-checkboxes :checked").length == 4){
				$(".compare-level2s").not(":checked").attr("disabled", true);
				display();
				return;
			} else {
				$(".compare-level2s").attr("disabled", false);
			}

			if ($(".compare-level2s:checked").length == 3){
				$(".compare-level3s").not(":checked").attr("disabled", true);
			} else {
				$(".compare-level3s").attr("disabled", false);

			}

			if ($(this).hasClass("compare-level2s")){
				if ($(this).is(":checked")){
					$(this).parent().find(".compare-level3s").attr("disabled", false);
				} else {
					$(this).parent().find(".compare-level3s").prop('checked', false);
					$(this).parent().find(".compare-level3s").attr("disabled", true);
					display();
					return;
				};			
			};

			if ($(".compare-level3s:checked").length > 0 && $(".compare-level2s:checked").length == 2){
				$(".compare-level2s").not(":checked").attr("disabled", true);
				display();
				return;
			} else {
				$(".compare-level2s").attr("disabled", false);
			}


			display();

		})


		function display(){
				var data = {
				"level2s": [],
				"level3s": [],
				"granularity": $("#select-granualrity").val(),
				"order": $("#select-order").val()
			};

			

			$(".compare-level2s:checked").each(function(){
				data["level2s"].push($(this).closest(".timeline-block").data("item-id"));
			});

			$(".compare-level3s:checked").each(function(){
				data["level3s"].push($(this).closest(".timeline-block").data("item-id"));
			});

			$.ajax({ 
				dataType: "script", 
				url: "/users/#{current_user.id}/favourites", 
				data: data,
				success: function(){}
			});	
		}



	});




