.row
  .spacer
  .col-md-12
    / we'll configure this to compose new conversations later
    = link_to "Compose", new_conversation_path, remote: true, class: "btn btn-success"
    .spacer
  .col-md-4
    .panel.panel-default
      .panel-body
        = render 'mailbox/folders'
  .col-md-8
    .panel.panel-default
      .panel-body
        - if local_assigns[:is_conversation]
          = render 'conversations/form'
        - else
          = render partial: 'conversations/conversation', collection: messages