#level2_detail_view.titlebar.main-box-brder
  .bg-white.titlebar-info 
    = render "pages/expansive_tab" 
  
  .row        
    .col-md-12
      = render "pages/expansive_tab_details" 

                

:javascript
  $(function(){
    $('.article-options-wrap li').on('click', function () {
      var divID = $(this).attr('data-box');
      $(this).addClass('option-active').siblings().removeClass('option-active');
      $('#' + divID).addClass('option-active').siblings().removeClass('option-active');
    });

    $('.comment-options .ul-list a div').click(function(e) {
      e.preventDefault();
      $('.comment-options .ul-list a div').removeClass('active-social-menu');
      $(this).addClass('active-social-menu');
    });

   // $('[data-type="resource"] li').on('click', loadResourceComments);


  });

  function loadResourceComments(){
    manager.config["resource"]["timeline"] = new TimelineController("resource", manager);
    manager.config["resource"]["timeline"].updateResources($(this))
  }