.article-contents-wrap					
	.text-box-area.position-relative.pd-top5.pd-bottom5
		%span.map-close-button.icon		
		%span.text-camera-icon.icon
		%textarea your comment...		
.comment-options
	%ul.ul-list
		%li
			%a
				%div
					%span.comment-big-icon.icon
					%span.title Comment
		%li
			%a
				%div
					%span.message-big-icon.icon
					%span.title Messages
		%li
			%a
				%div
					%span.email-big-icon.icon
					%span.title Email			
				
.bg-white.border-r6.comment-boxs				
	%ul.comment.mr-top10.pd-left10.pd-right10.pd-top10
		%li
			.person-img.fl-left
				.person-img-inner
					=image_tag "comment-person.png"
			.person-name
				%p.text-right.time-st 5 minutes ago
				%p.text-left.color-blue.ellipsis Niky Macaleen
		%li.clearfix
		%li.ft-size12.font-weight-300 
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...
		%li.text-right.bottom-border
			%a 
				Reply
	%ul.comment.pd-left10.pd-right10			
		%li
			.person-img.fl-left
				=image_tag "comment-person.png"
			.person-name
				%p.text-right.time-st 5 minutes ago
				%p.text-left.color-blue.ellipsis Niky Macaleen
		%li.clearfix
		%li.ft-size12.font-weight-300 
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...
		%li.text-right.bottom-border
			%a 
				Reply
	%ul.comment.pd-left10.pd-right10			
		%li
			.person-img.fl-left
				=image_tag "comment-person.png"
			.person-name
				%p.text-right.time-st 5 minutes ago
				%p.text-left.color-blue.ellipsis Niky Macaleen
		%li.clearfix
		%li.ft-size12.font-weight-300 
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...
		%li.text-right.bottom-border
			%a  
				Reply