
#expansive_view_data
  = render partial: "pages/expansive_view"

#emailModal.modal.fade.fullwidth{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} &times;
        %h4.modal-title User Messages
      .modal-body
      
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close    


:javascript
  var readyExpansive;
  TimeLine.init({
    mainContainer: '#expansive_view_data',
    levelContainer: "#level_container",
    detailContainer: "#expansive_middle_view",
    commentMessageContainer: "#comment_message_view",
    viewType: "#{ params[:viewtype] ? params[:viewtype] : '' }"
  });
  readyExpansive = function() {
    $(".cards-container").mCustomScrollbar({
      theme:"dark",
      autoHideScrollbar: false,
      scrollbarPosition:"inside",
      autoExpandScrollbar:true,
    });
    MailBox.init({modalId: "#emailModal"});
  };

  $(document).ready(readyExpansive);
  $(document).on('page:load', readyExpansive);