.sidebar-search
  .floating_container.bg-blue
    %form#search_string{:action => "/search", :method => "GET", class: "search-bar"}
      = hidden_field_tag "query", params[:query]
      = hidden_field_tag "viewtype", params[:viewtype] || "expansive"
      %button.search-icon{:type => "submit", "class" => "white-big-button"}
        = params[:query]
  #left_view_levels
    = load_levels("level1", @level1s)
