.main-box-brder.main-box-padding
  .comment-options
    %ul.ul-list
      %li
        %a{:href => ""}
          %div
            %span.comment-big-icon.icon
            %span.title Comment
      %li
        =link_to mailbox_inbox_path, remote: true, id: "open_messages" do
          %div
            %span.message-big-icon.icon
            %span.title Messages
      %li
        %a{:href => "javascript:void();", :id => "open_emails"}
          %div
            %span.email-big-icon.icon
            %span.title Email
      %li
        %a{:href => ""}
          %div
            %span.email-big-icon.icon
            %span.title Twitter
  / /END OF COMMENT OPTION/
  .article-contents-wrap
    .text-box-area.position-relative.pd-top5.pd-bottom5
      %button{:type => "button", name: "comment_box_toggel_btn", class: "comment_box_toggel_btn"} Add Comment
      .main-box-brder{"style" => "display:none;", id: "comment_box_container"}
        / %textarea your comment...
        = simple_form_for :comment, :html => {class: 'new-comment-form', novalidate: false}, url: comments_path, remote: true do |f|
          = f.input :commentable_id, :as => :hidden, :input_html => { :value => @object.id }
          = f.input :commentable_type, :as => :hidden, :input_html => { :value => @object.class.to_s }
          %span.map-close-button.icon
          %span.text-camera-icon.icon
          = hidden_field_tag :comming_from, "expansive"
          = f.input :content, as: :text, placeholder: "your comment...", required: true, label: false
          .form-group
            = f.button :submit, "Post", class: "btn btn-default"
  / /END OF ARTICLE CONTENTS WRAP/
  .bg-white.border-r6.comment-boxs
    .main-box-brder.mr-top10
      %section
        .timeline-body
          .timeline-wrapper
            .timeline-line
            .timeline-collection
              = render partial: "comments/comment_view" , collection: @comments, as: :comment
      / %ul.comment.pd-left10.pd-right10.pd-top10
      /   %li
      /     .person-img.fl-left
      /       .person-img-inner
      /         %img{:src => "images/comment-person.png"}/
      /     .person-name
      /       %p.text-right.time-st 5 minutes ago
      /       %p.text-left.color-blue.ellipsis Niky Macaleen
      /   %li.clearfix
      /   %li.ft-size12.font-weight-300 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...
      /   %li.text-right.bottom-border
      /     %a.color-blue.ft-size12{:href => "#"} Reply
      / %ul.comment.pd-left10.pd-right10
      /   %li
      /     .person-img.fl-left
      /       %img{:src => "images/comment-person.png"}/
      /     .person-name
      /       %p.text-right.time-st 5 minutes ago
      /       %p.text-left.color-blue.ellipsis Niky Macaleen
      /   %li.clearfix
      /   %li.ft-size12.font-weight-300 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...
      /   %li.text-right.bottom-border
      /     %a.color-blue.ft-size12{:href => "#"} Reply
      / %ul.comment.pd-left10.pd-right10
      /   %li
      /     .person-img.fl-left
      /       %img{:src => "images/comment-person.png"}/
      /     .person-name
      /       %p.text-right.time-st 5 minutes ago
      /       %p.text-left.color-blue.ellipsis Niky Macaleen
      /   %li.clearfix
      /   %li.ft-size12.font-weight-300 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...
      /   %li.text-right.bottom-border
      /     %a.color-blue.ft-size12{:href => "#"} Reply
  / /END OF COMMENT BOXS/

/ :javascript
/   $(function(){
/     var manager = new TimelineManager();
/   });
  