.main-box-brder.main-box-padding.mr-top5
  .article-options-wrap
    %ul.ul-inline-list.w100.pos-relative
      %li
        %a
          .profile-photo
            .photo-item
              = image_tag("profile_photo.png")
      %li
        %a
          .options-item
            %span.article-icn.icon
            %span.options-item-item Creator Article
      %li
        %a
          .options-item
            %span.map-icn.icon
            %span.options-item-item Map
      %li{"data-box" => "div1"}
        %a
          .options-item
            %span.news-article-icn.icon
            %span.options-item-item News Article
      %li{"data-box" => "div2"}
        %a
          .options-item
            %span.trending-cards-icn.icon
            %span.options-item-item Trending Cards
    #div1.options-detail
      .options-detail-content
        .options-detail-content-inner
          %p #{@match.news_article.try(:body) if @match  }.
    #players_container.options-detail
      .options-detail-content
        .options-detail-content-inner
          %p
            = render partial: "pages/players", locals: {match:@match} if @match 
    #div2.options-detail
      .options-detail-content
        .options-detail-content-inner
          %ul.ul-inline-list.w100
            %li
              %a{:href => ""}
                .options-item
                  %span.bbc-icn.icon
                  %span.options-item-item BBC
            %li
              %a{:href => ""}
                .options-item
                  %span.itv-icn.icon
                  %span.options-item-item ITV
            %li
              %a{:href => ""}
                .options-item
                  %span.cnn-icn.icon
                  %span.options-item-item CNN
  / /END OF ARTICLE OPTIONS WRAP/
  .article-options-wrap
    %ul.ul-inline-list.w100
      %li
        %a{:href => ""}
          .options-item
            %span.league-icn.icon
            %span.options-item-item Table
      %li
        %a{:href => ""}
          .options-item
            %span.table-icn.icon
            %span.options-item-item Table
      %li{"data-box" => "players_container"}
        %a
          .options-item
            %span.player-icn.icon
            %span.options-item-item Player
      
  / /END OF ARTICLE OPTIONS WRAP/
  /
    <div  class="article-options-wrap">
    <ul class="ul-inline-list w100">
    <li>
    <a href="">
    <div class="options-item">
    <span class="bbc-icn icon"></span>
    <span class="options-item-item">BBC</span>
    </div>
    </a>
    </li>
    <li>
    <a href="">
    <div class="options-item">
    <span class="itv-icn icon"></span>
    <span class="options-item-item">ITV</span>
    </div>
    </a>
    </li>
    <li>
    <a href="">
    <div class="options-item">
    <span class="cnn-icn icon"></span>
    <span class="options-item-item">CNN</span>
    </div>
    </a>
    </li>
    </ul>
    </div>
  / /END OF ARTICLE OPTIONS WRAP/
  .photo-gallery
    %h1.pd-right5.pd-left5 
      L3 Photos
    .clearfix
    .article-options-wrap
      %ul.ul-list.w100{"data-type" => "resource", id: "professional_media"}
        -@level2.load_level3s_photos.each do |resource|
          = render partial: "resources/resource_item", locals: {resource: resource}

  .photo-gallery
    %h1.pd-right5.pd-left5 
      Profesional Photos
      - if ((@level2.user == current_user) || current_user.admin? || current_user.super_user?)
        = link_to "New media", polymorphic_path(@level2) + "/resources/new?professional=true", class: "pull-right btn btn-primary new-resource btn-xs btn-branded", remote: true
    .clearfix
    .article-options-wrap
      %ul.ul-list.w100{"data-type" => "resource", id: "professional_media"}
        -@level2.professional_uploads.each do |resource|
          = render partial: "resources/resource_item", locals: {resource: resource}
  / /END OF PHOTO GALLERY/
  .photo-gallery
    %h1.pd-right5.pd-left5
      User Photos
      = link_to "New media", polymorphic_path(@level2) + "/resources/new", class: "pull-right btn btn-primary new-resource btn-xs btn-branded", remote: true
    .clearfix
    .article-options-wrap
      %ul.ul-list.w100.timeline{"data-type" => "resource", id: "user_upload_media"}
        -@level2.user_uploads.each do |resource|
          = render partial: "resources/resource_item", locals: {resource: resource}
