/ .container-fluid.pd-top10.pd-bottom10.pd-right10.pd-left10
.container-fluid.pd-top10.pd-bottom10.pd-right10.pd-left10
  .fluid-inner  
    #level_container.col-lg-3.col-md-3.col-xs-12
      = render "pages/expansive_left_view"
            
    #expansive_middle_view.col-lg-6.col-md-6.col-xs-12.middle_view        
      =# render "pages/expansive_middle_view"
    #comment_message_view.col-lg-3.col-md-3.col-xs-12.timeline{"data-type"=>"comment"}
      =# render "expansive_right"
.clearfix     
