.title-content-wrap.div-table
  .tp-navs.div-table-cell.relative.vertical-top
    %a.previous{:href => ""} Previous
    %a.next{:href => ""} Next
  / /END OF TP NAVS/
  .title-info.div-table-cell.vertical-top.pd-top10.pd-bottom10.pd-right10.pd-left10
    .team-info-wrap.fl-left
      .team-content-row
        %span.ft-size18.font-weight-bold.pd-left5.pd-right5
          = @match.first_team_name if @match
          V #{@match.second_team_name if @match}    
        %span.pd-left5.pd-right5
          %b.team-tags FT
        %span.pd-left5.pd-right5
          %b.team-tags 3.2
      .clearfix
      .team-content-row
        %span.pd-left5.pd-right5.color-gray
          = @match.first_team_name if @match
          = @match.first_team_score if @match
        %span.pd-left5.pd-right5.color-gray
          = @match.second_team_name if @match
          = @match.second_team_score if @match
      .team-content-row
        %span.pd-left5.pd-right5.color-gray.text-center
          = image_tag("team_logo1.png")
        %span.pd-left5.pd-right5.color-gray.text-center
          = image_tag("team_logo2.png")
    .team-info-wrap.fl-right.text-right
      .team-content-row
        %span.ft-size14.color-blue #{@level2.user.name} (created by)
      .team-content-row
        %span.block
          %b Kickoff
          #{std_date(@match.start_at) if @match }
        %span.block
          %b Full-Time
          #{std_date(@match.fulltime) if @match }
        %span.ft-size18.font-weight-bold.pd-left5.pd-right5.block #{@match.play_at if @match }
      .clearfix
      .title-bar-icons.text-right
        %ul.ul-inline-list
          %li
            %a{:href => ""}
              %span.useradd-icn.icon.block
          %li
            %a{:href => ""}
              %span.flag-icn.icon.block
          %li
            %a{:href => ""}
              %span.thumsup-icn.icon.block
          %li
            %a{:href => ""}
              %span.star-icn.icon.block
          %li
            %a{:href => ""}
              %span.copy-icn.icon.block
          %li
            %a{:href => ""}
              %span.arrowup-icn.icon.block
          %li
            %a{:href => ""}
              %span.pencil-icn.icon.block
          %li
            %a{:href => ""}
              %span.list-icn.icon.block
          %li
            %a{:href => ""}
              %span.check-icn.icon.block
  / /END OF TITLE INFO/