%div.row
  %div.col-md-6
    %h3 #{@match.first_team_name}
    - @match.first_team_players.each do |player|
      %p #{player.name}
   

  %div.col-md-6
    %h3 #{@match.second_team_name}
    - @match.second_team_players.each do |player|
      %p #{player.name}