#main-content
  = timeline("level1", @level1s)
  = timeline("level2", params[:query] ? @level2s : nil)
  = timeline("level3", params[:query] ? @level3s : nil)

  %section#viewer
    #description-viewer.timeline
      = render partial: "descriptions/viewer", locals: {object: nil}


    #media-viewer.timeline
      = render partial: "resources/viewer", locals: {object: nil}

  #toggable-comments
    = link_to "View comments", "#", class: "btn btn-primary new-resource btn-xs btn-branded"

  #comments.sidebar-offcanva
    = render partial: "comments/timeline", locals: {collection: @comments}


:javascript
  TimeLine.init({
    viewType: "standrad"
  });