.container.user-profile
	.row#profile-block
		.col-md-12.text-center
			%h1.page-head Admin page

	.row#profile-block
		.col-md-12
			%h4.section-head Links


			%dl.dl-horizontal
				.menu-item
					%dt Users:
					%dd= link_to users_path, users_path
				.menu-item
					%dt Level1s:
					%dd= link_to level1s_path, level1s_path
				.menu-item
					%dt Level2s:
					%dd= link_to level2s_path, level2s_path
				.menu-item
					%dt Level3s:
					%dd= link_to level3s_path, level3s_path
				.menu-item
					%dt Comments:
					%dd= link_to comments_path, comments_path

	.row#profile-block
		.col-md-12
			%h4.section-head Authentication

		.container
			
			= simple_form_for @setting, :html => {class: 'form-horizontal', novalidate: false} do |f| 
				= f.label :mode
				%span.help-block Open - new users are automatically authenticated, closed - new users must be manually authenticated in users table.
				.col-md-3
					= f.input :mode, collection: ["open", "closed"], :input_html => {class: "form-control", required: true}, label: false

					.form-group	
						.btn-group
							= link_to "Back", :back, class: "btn btn-default btn-branded"
							= f.button :submit, "Save", class: "btn btn-default btn-branded"