%section
  .row
    .col-md-12
      %h1
        Welcome
    .col-md-12
      %p
        Search for popular events
      %p
        %form#search.main_page{action: "/search", method: "GET"}
          .input-group
            %input.form-control{type: "search", placeholder: "Search", name: "query", value: params[:query]}
            %input{:name => "viewtype", :placeholder => "Search", :type => "hidden", :value => params[:viewtype] || "expansive"}
            %span.input-group-addon{type: "submit"}
              %button.search-icon{:type => "submit"}
      %p
        %h2
          Latest events
        .row
          - @level1s.each do |object|
            .col-lg-3.col-md-4.col-sm-6.col-xs-12
              = level1_card object



-#
-#
-#.row-offcanvas.row-offcanvas-right
-#  #main-content
-#    = timeline("level1", @level1s)
-#    = timeline("level2", params[:query] ? @level2s : nil)
-#    = timeline("level3", params[:query] ? @level3s : nil)
-#
-#    %section#viewer
-#      #description-viewer.timeline
-#        = render partial: "descriptions/viewer", locals: {object: nil}
-#
-#
-#      #media-viewer.timeline
-#        = render partial: "resources/viewer", locals: {object: nil}
-#
-#  #toggable-comments
-#    = link_to "View comments", "#", class: "btn btn-primary new-resource btn-xs btn-branded"
-#
-#  #comments.sidebar-offcanvas
-#    = render partial: "comments/timeline", locals: {collection: @comments}
-#
-#
-#:javascript
-#	$(document).ready(function(){
-#		var manager = new TimelineManager();
-#
-#		$("#toggable-comments a").on("click", function(e){
-#			e.preventDefault();
-#			$(".row-offcanvas").toggleClass("opened");
-#		})
-#	})
-#
-#	$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
-#	    event.preventDefault();
-#	    $(this).ekkoLightbox();
-#	});