= content_for :view_button do
  .search-view_2
    - if is_expansive_view?
      %a.btn.btn-default.btn-sm{href: url_for(params.except(:viewtype)), alt: "Standart view"} Standart view
      %a.btn.btn-default.btn-sm{href: url_for(params.except(:viewtype)) + "&viewtype=vertical", alt: "Vertical view"} Vertical view
      %a.btn.btn-default.btn-sm{href: url_for(params.except(:viewtype)) + "&viewtype=journey", alt: "Journey view"} Journey view
    - elsif is_vertical_view?
      %a.btn.btn-default.btn-sm{href: url_for(params.except(:viewtype)), alt: "Standart view"} Standart view
      %a.btn.btn-default.btn-sm{href: url_for(params.except(:viewtype)) + "&viewtype=expansive", alt: "Expansive view"} Expansive view
      %a.btn.btn-default.btn-sm{href: url_for(params.except(:viewtype)) + "&viewtype=journey", alt: "Journey view"} Journey view  
    - elsif is_journey_view?
      %a.btn.btn-default.btn-sm{href: url_for(params.except(:viewtype)), alt: "Standart view"} Standart view
      %a.btn.btn-default.btn-sm{href: url_for(params.except(:viewtype)) + "&viewtype=expansive", alt: "Expansive view"} Expansive view
      %a.btn.btn-default.btn-sm{href: url_for(params.except(:viewtype)) + "&viewtype=vertical", alt: "Vertical view"} Vertical view
    - else
      %a.btn.btn-default.btn-sm{href: url_for(params.except(:viewtype)) + "&viewtype=expansive", alt: "Expansive view"} Expansive view
      %a.btn.btn-default.btn-sm{href: url_for(params.except(:viewtype)) + "&viewtype=vertical", alt: "Vertical view"} Vertical view
      %a.btn.btn-default.btn-sm{href: url_for(params.except(:viewtype)) + "&viewtype=journey", alt: "Journey view"} Journey view

.row-offcanvas.row-offcanvas-right
  - if is_expansive_view?
    = render "expansive_view_layout"
  - elsif is_vertical_view?
    = render "vertical_view"
  - elsif is_journey_view?
    = render "journey_view" 
  - else
    = render "standart_view"

  :javascript
    var manager = null;
    $(document).ready(function(){
    if (!#{is_expansive_view?}){
      manager = new TimelineManager();
    }

    $("#toggable-comments a").on("click", function(e){
    e.preventDefault();
    $(".row-offcanvas").toggleClass("opened");
    })
    })

    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
    });