.container
  .row

  .row
    .col-md-8

    .col-md-4
      .col-md-12.text-center
        %h1.page-head Login or sign-up

      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.input :email, required: false, autofocus: true
        = f.input :password, required: false
        = f.input :remember_me, as: :boolean


        .form-group
          = f.button :submit, "Log in"

        %p
          Don't have an account?
          = link_to "Sign up", new_user_registration_path
        %p
          Or login with:
          %br
          = link_to 'Facebook', user_omniauth_authorize_path(:facebook)
          %br
          = link_to 'Google+', user_omniauth_authorize_path(:google_oauth2)
          %br
          = link_to 'Twitter', user_omniauth_authorize_path(:twitter)
