#myModal.modal.fade.form{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
	.modal-dialog.small-modal
		.modal-content
        
			.modal-body
				%button.close{"data-dismiss" => "modal", "aria-hidden" => "true" } ×
				.row
					#resource-item
						.row
							.col-md-10.col-md-offset-1
								= simple_form_for :resource, :html => {class: 'form-horizontal', novalidate: false}, url: resources_path, remote: true do |f|
									= f.input :mediable_id, :as => :hidden, :input_html => { :value => @object.id }
									= f.input :mediable_type, :as => :hidden, :input_html => { :value => @object.class.to_s }
									= f.input :content, as: :file, required: false, label: "Media"
									= f.input :video_url, as: :url, required: false, label: "Link to YouTube or Vimeo"
									= f.input :professional, :as => :hidden, :input_html => { :value => params.has_key?(:professional) }
									.form-group
										= f.button :submit, "Save", class: "btn btn-default"