.container
	= simple_form_for :resource, :html => {class: 'form-horizontal', novalidate: false}, url: resources_path do |f|
		= f.input :mediable_id, :as => :hidden, :input_html => { :value => object.id }
		= f.input :mediable_type, :as => :hidden, :input_html => { :value => object.class.to_s }
		= f.input :content, as: :file, required: false, label: "Image"
		= f.input :video_url, as: :url, required: false, label: "Link to YouTube or Vimeo"
		.form-group
			= f.button :submit, "Save", class: "btn btn-default"