%li.timeline-block{"data-item-type" => "resource", "data-item-id" => resource.id}
  %span
    .profile-photo
      .photo-item
        - if resource.content.present?
          - if resource.is_video_type?
            = video_tag(resource.content.url)
            =# image_tag(resource.content.url)
          - else  
            = image_tag(resource.content.url) if resource.content.present?
        - elsif !resource.video_url.blank?
          = video_tag(resource.video_url)