.resource.col-md-3
	%figure
		- if resource.is_image_type?
			= image_tag(resource.content.url, width: "100%", height: "200px")

		- elsif resource.is_video_type?
			%figure
				= video_tag(resource.content.url, width: "100%", height: "200px")
		- elsif resource.video_url
			%figure
				= video_tag(resource.video_url, width: "100%", height: "200px")

		%figcaption
			= link_to  resource, method: "delete" do
				%i.fa.fa-close