#myModal.modal.fade.form{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.small-modal
    .modal-content
        
      .modal-body
        %button.close{"data-dismiss" => "modal", "aria-hidden" => "true" } ×
        .row
          #resource-item
            .row
              .col-md-10.col-md-offset-1
                - if @resource.content.present?
                  - if @resource.is_video_type?
                    = video_tag(@resource.content.url, controls: true, autobuffer: true)
                  - else  
                    = image_tag(@resource.content.url) if @resource.content.present?
                - elsif !@resource.video_url.blank?
                  = video_tag(@resource.video_url, controls: true, autobuffer: true)

