%header 
	- if object && ((object.user == current_user) || current_user.admin? || current_user.super_user?)
		= link_to "New media", polymorphic_path(object) + "/resources/new", class: "btn btn-primary new-resource btn-xs btn-branded", remote: true


%section
	- if !object.present?
		%p No item selected
	- else
		- if object.resources.any? || object.avatar.present?
			.row
				.col-md-12	
					.row
						- if object.avatar.present?
							%a.col-md-4{href: "#{object.avatar.url}", "data-toggle" => "lightbox", "data-gallery" => "mixedgallery"}
								= image_tag(object.avatar.url, class: "img-responsive")
						- object.resources.each do |resource|

							- if resource.is_image_type?
								%a.col-md-4{href: "#{resource.content.url}", "data-toggle" => "lightbox", "data-gallery" => "mixedgallery"}
									= image_tag(resource.content.url, class: "img-responsive")
							- elsif resource.is_video_type?
								%a.col-md-4{href: "#{resource.content.url}", "data-toggle" => "lightbox", "data-gallery" => "mixedgallery"}
									= image_tag("video.png", class: "img-responsive")
							- elsif resource.video_url
								%a.col-md-4{href: "#{resource.video_url}", "data-toggle" => "lightbox", "data-gallery" => "mixedgallery"}
									= image_tag("video.png", class: "img-responsive")
		- elsif object && ((object.user == current_user) || current_user.admin? || current_user.super_user?)
			= link_to polymorphic_path(object) + "/resources/new", remote: true do
				%p Add Media

		- else
			%p There is no media files for this item

