$('#myModal').modal('hide');

if(TimeLine.isExpansiveView)
{
var container = "#{@resource.professional? ? 'professional_media' : 'user_upload_media'}";
$('#'+container).append('#{escape_javascript(render partial: "resources/resource_item", locals: {resource: @resource})}');
}
else 
{
window.timelines.config["#{@resource.object.class.to_s.downcase}"].timeline.loadMedia(); 
}