.container
	.row
		.col-md-12.text-center
			%h1.page-head Add media
		.col-md-4.col-md-offset-4
			= simple_form_for :resource, :html => {class: 'form-horizontal', novalidate: false}, url: resources_path do |f|
				= f.input :mediable_id, :as => :hidden, :input_html => { :value => @object.id }
				= f.input :mediable_type, :as => :hidden, :input_html => { :value => @object.class.to_s }
				= f.input :content, as: :file, required: false
				.form-group
					= f.button :submit, "Save", class: "btn btn-default"