%table.table.table-bordered
	%thead
		%tr
			%th ID
			%th Name
			%th Date
			%th Hyperlink
			%th Visible
			%th Price
			%th Discounted price
			%th View level2s
			%th View comments
			%th{width: "150"}  
			
	%tbody#level1s
		= render level1s

:javascript
	$("#level1s input, #level1s select").change(function(e){
		data = {"level1": {}};
		
		if ($(this).hasClass("boolean")){
			data["level1"][$(this).data("name")] = $(this).is(':checked') ? 1 : 0;
		} else {
			data["level1"][$(this).data("name")] = $(this).val();
		}

		$.ajax({
			method: "put",
			url: "/level1s/" + $(this).data("id"),
			data: data,
			dataType: "script"
		})
	});