
- if current_user.admin? || current_user.super_user?
	%tr
		= simple_form_for level1, :html => {novalidate: false} do |f|
			%td= level1.id
			%td= f.input :name, placeholder: "Name", required: false, label: false, input_html: { required: true, "data-id" => level1.id, "data-name" => "name" }
			%td= f.input :date, as: :string, placegolder: "Date", required: false, label: false, input_html: {required: true, "data-id" => level1.id, "data-name" => "date", "data-name" => "date" }
			%td= link_to level1_url(level1), level1
			%td= f.input :visible, type: :boolean, required: false, label: false, :input_html => {"data-id" => level1.id, "data-name" => "visible" }
			%td= f.input :list_price, placeholder: "Price", required: false, label: false, input_html: { required: true, "data-id" => level1.id, "data-name" => "list_price" }
			%td= f.input :discounted_price, placeholder: "Discounted price", required: false, label: false, input_html: { required: true, "data-id" => level1.id, "data-name" => "discounted_price" }

			%td= link_to "View level2s", level1_level2s_path(level1)
			%td= link_to "View comments", polymorphic_path([level1, Comment])
			%td
				.btn-group.btn-group-xs
					= link_to "Show", level1, class: "btn btn-default btn-branded"
					= link_to "Delete", level1, method: :delete, class: "btn btn-default btn-branded"
- else

	%tr
		%td= level1.id
		%td= level1.name
		%td= level1.created_at.strftime("%B %d, %Y")
		%td= link_to level1_url(level1), level1
		%td= level1.visible ? "True" : "False"
		%td= level1.list_price
		%td= level1.discounted_price
		%td= link_to "View level2s", level1_level2s_path(level1)
		%td= link_to "View comments", polymorphic_path([level1, Comment])
		%td
			.btn-group.btn-group-xs
				= link_to "Show", level1, class: "btn btn-default btn-branded"
				= link_to "Edit", edit_level1_path(level1), class: "btn btn-default btn-branded"
				= link_to "Delete", level1, method: :delete, class: "btn btn-default btn-branded"