.container
	.row
		.col-md-12.text-center
			%h1.page-head Level1s
		

		.col-md-12		
			.btn-group
				= link_to "New level1", new_level1_path, class: "btn btn-default btn-branded"
				= link_to "Back", :back, class: "btn btn-default btn-branded"
			= render partial: "level1s/level1s", locals: {level1s: @level1s}

			.btn-group
				= link_to "New level1", new_level1_path, class: "btn btn-default btn-branded"
				= link_to "Back", :back, class: "btn btn-default btn-branded"