- if params[:page] && params[:page].to_i > 1
	- @level1s.each do |level1|
		var newElement = '#{escape_javascript(timeline_item(level1))}';
		window.timelines.addElement("level1", newElement);

- else
	var collection = '#{escape_javascript(timeline_items(@level1s))}';
	window.timelines.render("level1", collection)