.container#resource-item
	.row
		.col-md-12
			.col-md-8
				%section#main-part
					
					.btn-group.pull-left
						= link_to "Back", users_path, class: "btn btn-default btn-branded" 
						= link_to "Edit", edit_level1_path(@level1), class: "btn btn-default btn-branded"
							
					%header
						%h2= @level1.name
						
					= link_to "View comments", polymorphic_path([@level1, Comment]), class: "btn btn-default btn-branded pull-left"
					= link_to "Add media", new_polymorphic_path([@level1, Resource]), class: "btn btn-default btn-branded pull-right"

						
						
					%article
						= raw @level1.description
			.col-md-4
				%section#sidebar
					%figure
						= image_tag(@level1.avatar.url)
					%article
						.item-field
							= @level1.date.strftime("%B %d, %Y")
						.item-field
							= @level1.visible ? "Visible" : "Invisible"
						.item-field
							= level1_path(@level1)
