$('#myModal').modal('hide');
window.timelines.config["level1"].timeline.reloadTimeline();

var description = '#{escape_javascript(render partial: "descriptions/viewer", locals: {object: @level1})}';
window.timelines.addDescriptionToViewer(description);

flashMessage("Level1 was successfully updated");