/ On first load there arr possiblities we only have level2 not level 1
- if !collection.blank?
  - collection.each do |level1|
    %div{"data-type-container" => "level1"}
      = render partial: "levels/level1", locals: {object: level1}
      %div{"data-type-container" => "level2"}
        - load_nested_levels(level1).each do |level2|
          = render partial: "levels/level2", locals: {object: level2}
          %div{"data-type-container" => "level3"}
          - load_nested_levels(level2).each do |level3|
            = render partial: "levels/level3", locals: {object: level2}
          - end unless load_nested_levels(level2).blank?
        - end unless load_nested_levels(level1).blank?
- elsif !@level2s.blank?
  %div{"data-type-container" => "level2"}
    - @level2s.each do |level2|
      = render partial: "levels/level2", locals: {object: level2}
      %div{"data-type-container" => "level3"}
      - load_nested_levels(level2).each do |level3|
        = render partial: "levels/level3", locals: {object: level2}
      - end unless load_nested_levels(level2).blank?

- elsif @level3s
  %div{"data-type-container" => "level3"}
    - @level3s.each do |level3|
      = render partial: "levels/level3", locals: {object: level3}


