.card.position-relative.bg-white.search-list.position-relative.level.mr-bottom10{class: item_bg(object.class.to_s.downcase), "data-item-type" => object.class.to_s.downcase, "data-item-id" => object.id, "data-item-name" => object.name}
  .card-content.position-relative.bg-red
    .list-image.fl-left
      .list-image-inner
        =image_tag object.avatar.present? ? object.avatar.url : "image01.jpg"
    .list-content.fl-left.position-realative.pd-left10.pd-top5      
      %p.ft-size12.ellipsis.color-gray= object.date.strftime("%d %B %Y")
      %p.color-white.ft-size14.ellipsis-pre2 Name:#{truncate object.name}
      %span.check-icon.position-absolute
      %span.check-count.position-absolute.color-white.font-weight-bold 1
    .clearfix
  - if object.description.present?
    .card-summery
      %p.pd-left10.pd-right10.pd-top10.pd-bottom15.ft-size14.ellipsis-pre3 Summary: #{remove_html_tags(object.description)}
  .card-options.bg-red
    %ul.ul-list.fl-right
      %li
        %a
          %span.icon.icon-comment
      %li
        %a
          %span.icon.icon-small-star
      %li
        %a
          %span.icon.icon-small-map
      %li
        %a
          %span.icon.icon-share
      %li
        %a
          %span.icon.icon-like
    .clearfix
  .clearfix