%table.table.table-bordered
	%thead
		%tr
			%th ID
			%th Name
			%th Level2
			%th Date
			%th Hyperlink
			%th Visible
			%th Price
			%th Discounted price
			%th View comments
			%th{width: "150"}  
	%tbody#level3s
		= render level3s

:javascript
	$("#level3s input, #level3s select").change(function(e){
		data = {"level3": {}};
		
		if ($(this).hasClass("boolean")){
			data["level3"][$(this).data("name")] = $(this).is(':checked') ? 1 : 0;
		} else {
			data["level3"][$(this).data("name")] = $(this).val();
		}
		$.ajax({
			method: "put",
			url: "/level3s/" + $(this).data("id"),
			data: data,
			dataType: "script"
		})
	});