#level3_detail_view.titlebar.main-box-brder
  .bg-white.titlebar-info 
    .title-content-wrap.div-table
      .tp-navs.div-table-cell.relative.vertical-top
        %a.previous{:href => ""} Previous
        %a.next{:href => ""} Next
      / /END OF TP NAVS/
      .title-info.div-table-cell.vertical-top.pd-top10.pd-bottom10.pd-right10.pd-left10
        .team-info-wrap.fl-left
          .team-content-row
            %span.ft-size18.font-weight-bold.pd-left5.pd-right5 Manchester v Liverpool
            %span.pd-left5.pd-right5
              %b.team-tags FT
            %span.pd-left5.pd-right5
              %b.team-tags 3.2
          .clearfix
          .team-content-row
            %span.pd-left5.pd-right5.color-gray Manchester 3:
            %span.pd-left5.pd-right5.color-gray Liverpool 2
          .team-content-row
            %span.pd-left5.pd-right5.color-gray.text-center
              = image_tag("team_logo1.png")
            %span.pd-left5.pd-right5.color-gray.text-center
              = image_tag("team_logo2.png")
        .team-info-wrap.fl-right.text-right
          .team-content-row
            %span.ft-size14.color-blue User name (created by)
          .team-content-row
            %span.block
              %b Kickoff
              12-September-2015 15:00
            %span.block
              %b Full-Time
              13-September-2015 18:30
            %span.ft-size18.font-weight-bold.pd-left5.pd-right5.block Old Trafford
          .clearfix
          .title-bar-icons.text-right
            %ul.ul-inline-list
              %li
                %a{:href => ""}
                  %span.useradd-icn.icon.block
              %li
                %a{:href => ""}
                  %span.flag-icn.icon.block
              %li
                %a{:href => ""}
                  %span.thumsup-icn.icon.block
              %li
                %a{:href => ""}
                  %span.star-icn.icon.block
              %li
                %a{:href => ""}
                  %span.copy-icn.icon.block
              %li
                %a{:href => ""}
                  %span.arrowup-icn.icon.block
              %li
                %a{:href => ""}
                  %span.pencil-icn.icon.block
              %li
                %a{:href => ""}
                  %span.list-icn.icon.block
              %li
                %a{:href => ""}
                  %span.check-icn.icon.block
      / /END OF TITLE INFO/
  .row        
    .col-md-12
      .main-box-brder.main-box-padding.mr-top5
        .article-options-wrap
          %ul.ul-inline-list.w100.pos-relative
            %li
              %a
                .profile-photo
                  .photo-item
                    = image_tag("profile_photo.png")
            %li
              %a
                .options-item
                  %span.article-icn.icon
                  %span.options-item-item Creator Article
            %li
              %a
                .options-item
                  %span.map-icn.icon
                  %span.options-item-item Map
            %li{"data-box" => "div1"}
              %a
                .options-item
                  %span.news-article-icn.icon
                  %span.options-item-item News Article
            %li{"data-box" => "div2"}
              %a
                .options-item
                  %span.trending-cards-icn.icon
                  %span.options-item-item Trending Cards
          #div1.options-detail
            .options-detail-content
              .options-detail-content-inner
                %p Iure ut qui id dicta non. Numquam animi voluptatem. Mollitia est veritatis voluptas nesciunt voluptas rerum. Ut omnis ad ea veritatis. Voluptas molestias dolores non est.. Enim est dolorem beatae. Optio amet quia velit impedit qui excepturi. Doloremque ipsa maiores voluptates sed.. Tempore fugiat voluptate repellat sed. Commodi aut repellat mollitia qui esse. Ut consequuntur recusandae doloremque magnam. Ut nulla sunt. Quas illum dolorem et illo dolorum dolor eum.. Eligendi molestiae excepturi et nostrum sit est. Explicabo ut at nulla. Vitae non ex tempora aspernatur quidem aliquam.. Iusto odit cupiditate. Labore quis aut veniam sed voluptas sunt reiciendis. Non aut nihil. Sit corrupti quidem ab.. Dolorum iure quia ab. Est autem officiis. Maxime ut laudantium aut omnis aut rerum 
          #players_container.options-detail
            .options-detail-content
              .options-detail-content-inner
                %p
          #div2.options-detail
            .options-detail-content
              .options-detail-content-inner
                %ul.ul-inline-list.w100
                  %li
                    %a{:href => ""}
                      .options-item
                        %span.bbc-icn.icon
                        %span.options-item-item BBC
                  %li
                    %a{:href => ""}
                      .options-item
                        %span.itv-icn.icon
                        %span.options-item-item ITV
                  %li
                    %a{:href => ""}
                      .options-item
                        %span.cnn-icn.icon
                        %span.options-item-item CNN
        / /END OF ARTICLE OPTIONS WRAP/
        .article-options-wrap
          %ul.ul-inline-list.w100
            %li
              %a{:href => ""}
                .options-item
                  %span.league-icn.icon
                  %span.options-item-item Table
            %li
              %a{:href => ""}
                .options-item
                  %span.table-icn.icon
                  %span.options-item-item Table
            %li{"data-box" => "players_container"}
              %a
                .options-item
                  %span.player-icn.icon
                  %span.options-item-item Player
            
        .photo-gallery
          %h1.pd-right5.pd-left5 
            Profesional Photos
            - if ((@level3.user == current_user) || current_user.admin? || current_user.super_user?)
              = link_to "New media", polymorphic_path(@level3) + "/resources/new?professional=true", class: "pull-right btn btn-primary new-resource btn-xs btn-branded", remote: true
          .clearfix
          .article-options-wrap
            %ul.ul-list.w100{"data-type" => "resource", id: "professional_media"}
              -@level3.professional_uploads.each do |resource|
                = render partial: "resources/resource_item", locals: {resource: resource}
        / /END OF PHOTO GALLERY/
        .photo-gallery
          %h1.pd-right5.pd-left5
            User Photos
            = link_to "New media", polymorphic_path(@level3) + "/resources/new", class: "pull-right btn btn-primary new-resource btn-xs btn-branded", remote: true
          .clearfix
          .article-options-wrap
            %ul.ul-list.w100.timeline{"data-type" => "resource", id: "user_upload_media"}
              -@level3.user_uploads.each do |resource|
                = render partial: "resources/resource_item", locals: {resource: resource}
              



:javascript
  $(function(){
    $('.article-options-wrap li').on('click', function () {
      var divID = $(this).attr('data-box');
      $(this).addClass('option-active').siblings().removeClass('option-active');
      $('#' + divID).addClass('option-active').siblings().removeClass('option-active');
    });

    $('.comment-options .ul-list a div').click(function(e) {
      e.preventDefault();
      $('.comment-options .ul-list a div').removeClass('active-social-menu');
      $(this).addClass('active-social-menu');
    });

  });
