- if current_user.admin? || current_user.super_user?
	%tr
		= simple_form_for [level3.level2, level3], :html => {novalidate: false} do |f|
			%td= level3.id
			%td= f.input :name, placeholder: "Name", required: false, label: false, input_html: { required: true, "data-id" => level3.id, "data-name" => "name" }
			%td= f.input :date, as: :string, placegolder: "Date", required: false, label: false, input_html: {required: true, "data-id" => level3.id, "data-name" => "date", "data-name" => "date" }
			%td= level3.created_at.strftime("%B %d, %Y")
			%td= link_to level2_level3_url(level3.level2, level3), [level3.level2, level3]
			%td= f.input :visible, type: :boolean, required: false, label: false, :input_html => {"data-id" => level3.id, "data-name" => "visible" }
			%td= f.input :list_price, placeholder: "Price", required: false, label: false, input_html: { required: true, "data-id" => level3.id, "data-name" => "list_price" }
			%td= f.input :discounted_price, placeholder: "Discounted price", required: false, label: false, input_html: { required: true, "data-id" => level3.id, "data-name" => "discounted_price" }
			%td= link_to "View comments", polymorphic_path([level3, Comment])
			%td
				.btn-group.btn-group-xs
					= link_to "Show", [level3.level2, level3], class: "btn btn-default btn-branded"
					= f.button :submit, "Save", class: "btn btn-default btn-branded"
					= link_to "Delete", [level3.level2, level3], method: :delete, class: "btn btn-default btn-branded"

- else 

	%tr
		%td= level3.id
		%td= level3.name
		%td= link_to level3.level2.name, level3.level2
		%td= level3.created_at.strftime("%B %d, %Y")
		%td= link_to level2_level3_url(level3.level2, level3), [level3.level2, level3]
		%td= level3.visible ? "True" : "False"
		%td= level3.list_price
		%td= level3.discounted_price
		%td= link_to "View comments", polymorphic_path([level3, Comment])
		%td
			.btn-group.btn-group-xs
				= link_to "Show", [level3.level2, level3], class: "btn btn-default btn-branded"
				= link_to "Edit", edit_level2_level3_path(level3.level2, level3), class: "btn btn-default btn-branded"
				= link_to "Delete", [level3.level2, level3], method: :delete, class: "btn btn-default btn-branded"

