- if @level2 && @match;
  var htmlData = '#{escape_javascript(render partial: "levels/level3", collection: @level3s,  as: :object )}';
  TimeLine.renderChildLevels(htmlData);

- if params[:page] && params[:page].to_i > 1
  - @level3s.each do |level3|
    var newElement = '#{escape_javascript(timeline_item(level3))}';
    window.timelines.addElement("level3", newElement);

- else
  var collection = '#{escape_javascript(timeline_items(@level3s))}';
  window.timelines.render("level3", collection)
