.container
	.row
		.col-md-12.text-center
			%h1.page-head Level3s
		.col-md-12
			.btn-group
				= link_to "Back to level2s", @level1 ? level1_level2s_path(@level1) : level2s_path, class: "btn btn-default btn-branded"
				
				- if @level2
					= link_to "New level3", new_level2_level3_path(@level2), class: "btn btn-default btn-branded"


			= render partial: "level3s/level3s", locals: {level3s: @level3s}

			.btn-group
				= link_to "Back to level2s", @level1 ? level1_level2s_path(@level1) : level2s_path, class: "btn btn-default btn-branded"

				- if @level2
					= link_to "New level3", new_level2_level3_path(@level2), class: "btn btn-default btn-branded"
