.container#resource-item
	.row
		.col-md-12
			.col-md-8
				%section#main-part
					
					.btn-group.pull-left
						= link_to "Back", level2_level3s_path(@level3.level2), class: "btn btn-default btn-branded"
						= link_to "Edit", edit_level2_level3_path(@level3.level2, @level3.id), class: "btn btn-default btn-branded"
							
					%header
						%h2= @level3.name
						
					= link_to "View comments", polymorphic_path([@level3, Comment]), class: "btn btn-default btn-branded pull-left"
					= link_to "Add media", new_polymorphic_path([@level3, Resource]), class: "btn btn-default btn-branded pull-right"

						
						
					%article
						= raw @level3.description
			.col-md-4
				%section#sidebar
					%figure
						= image_tag(@level3.avatar.url)
					%article
						.item-field
							= @level3.date.strftime("%B %d, %Y")
						.item-field
							= @level3.visible ? "Visible" : "Invisible"
						.item-field
							= level2_level3_path(@level3.level2, @level3)

