$('#myModal').modal('hide');
window.timelines.config["level3"].timeline.reloadTimeline();

var description = '#{escape_javascript(render partial: "descriptions/viewer", locals: {object: @level3})}';
window.timelines.addDescriptionToViewer(description);

flashMessage("Level3 was successfully updated");