/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require chosen
 */


html {
  position: relative;
  background: #F7F8FA;
}

html,body {
    height:100%;
}


body{
  min-height: 100%;
  font-size: 14px;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;

}

a:link, a:visited, a:active, a:focus{
  outline: none !important;
  text-decoration: none !important;
}

a:hover {
	text-decoration: none;
}


@font-face {
    font-family: 'Glyphicons Halflings';
    src: asset-url("glyphicons-halflings-regular.ttf");
} 

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


#content_wrapper {
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

#header {
    height: 50px;
}

#header .navbar > .container .navbar-brand{
  color: white;
  position: absolute;
  left: 15px;
}

#header input{
	max-width: 200px;
  height: 34px;
  border-radius: 20px 0 0 20px;
}

#header #search span{
  border-radius: 0 20px 20px 0;
}

#header .navbar {
    border-bottom: 1px solid #DDD;
   border-radius: 0;
    background: #056671;
    margin-bottom: 10px;
}

#search{
	margin-right: 100px;
}

/*#content {*/
    /*padding: 0 0px 10px;*/
/*}*/

#footer {
    border-top: 1px solid #DDD;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    background: #E6E6E6;
}

.navbar-nav > li > a {
	margin: 11px 5px;
	padding: 3px 6px;
}

.navbar-nav .dropdown{
  margin-left: 20px;
}

.dropdown:hover .dropdown-menu, .dropdown.active .dropdown-menu {
    display: block;
}

.page-head{
  margin-bottom: 30px;
}


#alert-wrapper {
  left: 50%;
  margin-left: -300px;
  position: fixed;
  top: 20px;
  width: 600px;
  z-index: 4000;
  border: 1px solid #8EB021;
  background: white;
}

#alert-wrapper > span {
  float: left;
  height: 52px;
  display: block;
  width: 40px;
  text-align: center;
  line-height: 52px;
  font-size: 20px;
  color: white;
}

#alert-wrapper .alert {
  color: #333;
  text-align: left;
  margin-left: 40px;
}

#alert-wrapper.alert-danger {
  border-color: #e74c3c;
}

.alert-success span{
  background: #8EB021;
}

.alert-danger span{
  background: #e74c3c;
}

.alert-success, .alert-danger {
  color: black;
}


p.notice {
    margin: 5px;
}

h4.section-head {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 300;
    padding-bottom: 9px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.menu-item {
    margin-bottom: 10px;
}

.dl-horizontal .menu-item  dt {
    text-align: left;
    width: 130px;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    color: #666;
}

.dl-horizontal .menu-item  dd {
    margin-left: 150px;
    line-height: 20px;
    color: #333;
}

#profile-block{
  margin-bottom: 20px;
}

.alert{
  margin-bottom: 0;
  text-align: center;
}

.btn.btn-branded, .btn.btn-branded:focus, .btn.btn-branded:visited {
  background: #056671 ;
  color: white;
  border-color: #056671;
}

.btn.btn-branded:hover {
  background: #056671 !important;
  opacity: 0.8;
  color: white;
}

.form .modal-dialog{
  width: 80%;
}

.table {
  margin-top: 20px;
}

.form-group.date select{
  width: 33%;
  float: right;
}
.search-view{
  margin-top:10px;
}