/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


#toggable-comments a {
	transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	border-radius: 0;
	padding: 4px;
	font-size: 13px;
	text-transform: capitalize;
}

.opened #toggable-comments{
	right: calc(-2% - 28px);
}

#toggable-comments{
	position: absolute;
	z-index: 100;
	right: -38px;
	top: 58px;
}

.comment{
	padding: 5px;
}

.comment figure{
	position: relative;
}

.comment header{
	min-height: 40px;
}

/*.comment img{
	display: inline-block;
	position: absolute;
}*/

.comment figcaption{
	width: calc(100% - 45px);
	display: inline-block;
	height: 40px;
	float: right;
	margin: 0;
	color: #333;
	font-size: 13px;
	font-weight: normal;
	line-height: 15px;
}

.timeline-block.active .comment figcaption, .timeline-block.active .comment article, .timeline-block.active .comment figcaption date{
	color: white;
}

.comment figcaption date{
	display: block;
	margin: 0px;
	color: #777;
	font-size: 11px;
	line-height: 18px;
}

.comment article{
	color: #333;
	font-size: 13px;
	margin-top: 3px;

	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 15px;        /* fallback */
    max-height: 30px; 
}

.comment-input input{
	border: 1px solid #C8C8C8;
	box-sizing: border-box;
	color: #333;
	font-family: Arial,sans-serif;
	font-size: 13px;
	margin: 0px;
	overflow: hidden;
	outline-width: 0px !important;
	padding: 4px;
	resize: none;
	width: 100%;
}

.comment-input button{
	box-shadow: none;
	background-color: #4D90FE;
	border-radius: 0;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	margin-right: 5px;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	outline: 0px none;
	padding: 0px 8px;
	border: none;
	color: white;
	margin-top: 10px;

}

.comment-input button:hover{
	opacity: 0.8;
}

.comment-input{
	display: none;
}

.comment-content i.fa{
	position: absolute;
	right: 10px;
	color: #777;
}