/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


.favourite-item .timeline-content-wrapper{
	width: 100%;
	display: inline-block;
}

.favourite-item .mode-checkboxes{
	width: 30px;
	display: inline-block;
	float: right;
} 

.favourite-item .mode-checkboxes input{
	width: 15px;
	margin: 5px 8px;
}

#display-button {
	text-align: center;
	width: 100%;
	margin: 10px auto 0;

}

#display-button select{

	border-radius: 0;
	border: 1px solid #056671;
		float: left;
	width: 45%;
	margin-right: 5%;
	float: left;
}

#display-button a{
		float: left;
	width: 50%;
	border-radius: 0;
}

#comparison{
	display: inline-block;
	width: 100%;
	background: #E6E6E6;
	margin-top: 20px;
	border-radius: 5px;
	overflow-y: hidden;
	overflow-x: hidden;
  	height: calc(100vh - 90px);
}

#comparison > header {
	display: inline-block;
	width: 100%;
	height: 65px;
}

#comparison > section {
	height: calc(100% - 60px);
	overflow-y: auto;
}

#favourite-viewer{
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 20px);
  margin-top: 20px;
}

#main-content #favourite-viewer #viewer{
	margin-top: 0;
	height: 100%;
}


#main-content #favourite-viewer section#viewer {
	width: calc(100% - 20px);
}