/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


.level1-item{
	padding: 6px 8px;
	border: 1px solid #DDD;
	display: inline-block;
	float: left;
	margin-right: 5px;
	border-radius: 5px;
}

#resource-item  {
	margin-top: 20px;
	max-height: 100%;
}

#resource-item aside {
	border: 1px solid #056671;
	display: inline-block;
    width: 100%;
    padding: 5px;
}

#resource-item article > .ckeditor{
	  height: 100%;
}

#resource-item #main-part article{
	border: 1px solid #056671;
	width: 100%;
	display: inline-block;
	margin-top: 10px;
	padding: 5px;
	overflow: auto;
	height: calc(100vh - 150px);
}

#resource-item .btn-group, #resource-item #main-part > .btn{
	margin-top: 8px;
}

#resource-item h2 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 20px;
	height: 24px;
	overflow: hidden;
}

#resource-item header {
	border: 1px solid #056671;
	float: left;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 250px;
     min-width: 370px;
}

#resource-item #sidebar{
	border: 1px solid #056671;
}

#resource-item figure {
	border-bottom: 1px solid #056671;
	padding: 5px;
	height: 300px;
}

#resource-item img {
	width: 100%;
	height: auto;
	margin: 0px auto;
	max-height: 100%;
}

#resource-item #sidebar article{
	padding: 5px;
	overflow: auto;
	background: #E6E6E6;
}

#resource-item .item-field{
	margin: 5px auto;
	border: 1px solid #056671;
	display: inline-block;
	padding: 5px;
	width: 100%;
}

#resource-item form #main-part  article{
	overflow: hidden;	
}