/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


#main-content{
	width: 100%;
	position: relative;
	display: inline-block;
}

#main-content > section{
	width: 20%;
	display: inline-block;
	margin-left: 1%;
	float: left;
}

#description-viewer > header {
	height: 30px;
}

#main-content section#viewer{
	width: 33%;
	top: 0;
	position: absolute;
	margin-top: 20px;
	height: calc(100% - 20px);
}

section#viewer{
	
}

#comments{
	width: 18%;
	display: inline-block;
	position: absolute;
	right: -18%;
}

#comments .timeline{
	border-radius: 0 5px 5px;
}

#media-viewer img, #media-viewer video{
	cursor: pointer;
}

.exactive{
	opacity: 0.8;
}

.row-offcanvas-right{
    right: 0px;
    position: relative;
}



.row-offcanvas-right.opened #comments{
	top: 0;
	right: -20%;
}

.row-offcanvas-right.opened #main-content{
    width: 80%;
}

