.resource{
	margin-bottom: 20px;
	display: inline-block;	
}


.resource figure{
	position: relative;
}

.resource figcaption{
	position: absolute;
	top: 0px;
	right: 5px;
	display: none;
}


.resource figure:hover figcaption{
	display: block;
}

figcaption i{
	color: red;
	font-size: 16px;
}