@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,100,100italic,300,300italic,900,900italic);

html{height: 100%;}
body{margin: 0px;padding: 0px;height: 100%;font-family: 'Roboto', sans-serif;}
.padding-left20{padding-left: 20px;}
.font-48{font-size: 48px;}
.margin-top30{margin-top: 30px;}
.white-text{color: #fff;}
.btn{font-weight: bold;}
.navbar.navbar-default {background: transparent;border: 0px;padding: 25px; margin: 0px;}
.navbar-default .navbar-nav > li > a {color: #FFF; font-size: 16px; text-transform: uppercase;}
.navbar-default .navbar-brand {color: #FFF;}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {color: #fff;background-color: transparent;}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {color: #DDDBDB;background-color: transparent;}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: 0px; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {color: #DDDBDB;background-color: transparent;font-size: 16px;}
.cls_banner_container{background: url('bg.jpg');background-repeat: no-repeat;background-size: cover;width: 100%;padding: 0px;position: relative; }
.overlay{width: 100%;position: absolute; height: 100%; background: rgba(0,0,0,0.7);}
.abs-container { position: relative;padding: 0px;}
.abs-container h1{margin-top: 5px;  text-transform: uppercase;}
.form-container{width: 100%; margin:auto; height: auto; }
.gray-box{background: rgba(255,255,255,0.7); padding: 20px 20px 15px;border-radius: 6px;box-shadow: 1px 0px 7px #000; width: 100%; height: auto;display: inline-block; }
.left{float: left;display: inline-block;width: 50%; text-align: left;}
.right{float: right;display: inline-block;width: 50%; text-align: right;}
.social ul{padding: 0px; list-style: none;text-align: left;margin-bottom: 0px;}
.social ul li{display: inline-block;}
.social ul li a {background:url('social_sprite.png');height: 20px; width: 20px;  display: block;transition: all 0.3s ease 0s;}
.google a{background-position: -7px -5px !important;}
.google:hover a{background-position: -7px -33px !important}
.facebook a{background-position: -41px -5px !important;}
.facebook:hover a{background-position: -41px -33px !important;}
.twitter a{background-position: -74px -5px !important;}
.twitter:hover a{background-position: -74px -33px !important;}
.login_btn{padding: 10px 40px; color: #9d9d9c;}
.reg-heading-box {background: #fff;border-radius: 6px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;padding:10px 20px;}
.reg-heading-box h3{color: #9d9d9c; font-size: 24px;margin: 0px;}
.reg-gray-box{ border-top-left-radius:0px; border-top-right-radius: 0px; box-shadow: none;}
.form_bottom {margin-top: 10px;}
.form-control{border-radius: 6px; height: 40px;}
.form-box{margin: 0px auto; width: 300px; margin-bottom: 40px;}
.content{float: left;width: 320px; text-align: right;}
.inner .form-box{margin: 0px auto; width: 320px;float: right;margin-left: 20px;}
.content p {margin: 0 0 10px;font-size: 19px;font-weight: normal;}
.inner  .abs-container{padding: 45px 55px;}
.cls_custom_container{float: right; width: 55%;}
.inner .left_container {float: left;width: 30%;text-align: left;}
.inner .side_nav{background:rgba(0,0,0,0.7);}
.inner .side_nav ul{padding: 0px;list-style: none;}
.inner .side_nav ul li{padding: 10px; border-bottom: 1px solid #4e5052;}
.inner .side_nav ul li:hover{background: #b3b9bf;}
.inner .side_nav ul li:hover a{color: #333;}
.inner .side_nav ul li:last-child{border: 0px;}
.inner .side_nav ul li a{font-size: 20px; color: #8e8e8d; text-decoration: none; text-transform: uppercase;}
.inner .side_nav ul li a span{ margin-left: 20px; }
/*.active {background: #b3b9bf;position: relative;}*/
/*.active:after {left: 100%;top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(179, 185, 191, 0);border-left-color: #b3b9bf;border-width: 15px;margin-top: -15px;}*/
/*.active a{color: #333 !important;}*/
.header-top {background: #e62336;display: inline-block;	width: 100%;border-top-left-radius: 6px;border-top-right-radius: 6px;padding: 10px;}
.item .header-top .head_img_cntainer{width: 55px; float: left;}
.date-container{font-size: 10px;margin: 0px;}
.content-body{background: #ededed; padding: 10px;margin-top: -5px;}
.content-body p{margin: 0px;} 
.item{margin: 10px;} 
.news_head_left {float: left;margin-right: 20px;}
.news_head_right {float: left;width: 135px;}
.news_head_right p{margin: 0px;}
.news_footer_left{float: left; text-align: left;}
.news_footer_right{float: right;text-align: right;}
.footer-body{display: inline-block;   background: rgb(230, 35, 54) none repeat scroll 0% 0%; width: 100%; border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;padding: 10px;}
.footer-body ul{list-style: none;padding-left: 0px; margin: 0px;}
.footer-body ul li{display: inline-block;}
.owl-pagination {display: none;}
#owl-demo{position: relative;}
.btn-control {background: #ccc;border-radius: 100%;padding: 0px;height: 30px;width: 30px;line-height: 26px;}
.customNavigation {position: absolute;top: 45px;right: 23px;}
.owl-carousel .owl-item {margin-top: 20px;}
.upper_case{text-transform: capitalize !important;}


/*PARTIALS VIEWS*/

a{text-decoration: none; cursor: pointer;display: block;transition: all 0.1s ease 0s;color: #ffffff;}
a:hover, a:focus{border: 0 none;color: #ffffff;outline: medium none;text-decoration: none;transition: all 0.1s ease 0s;}
p{margin: 0;}
.pos-relative{position: relative;}
h1{font-size: 20px;font-weight: bold;}



/*BACKGROUND COLORS*/
.wrapped{height: 100%;}
.bg-red{background: #ef5350;}
.bg-blue{background: #1976d2;}
.bg-light-blue{background: #2196f3;}

.bg-gray{background: #9d9d9d;}
.bg-gray-light{background: #dddddd;}
.bg-green{background: #4caf50;}
.bg-white{background: #fff;}
.bg-yellow{background: #ffa000;}
/*transparent backgroungd*/
.bg-trans{background: transparent;}
.bg-trans:hover{background: transparent !important;}
/*radius*/
.border-r6{border-radius: 6px;}
.color-red{color: #ef5350;}
.color-blue{color: #1976d2 !important;}
.color-gray{color: #9d9d9d;}
.color-green{color: #ffa000;}
.color-white{color: #fff;}

/*MARGINS*/
.mr-top5{margin-top: 5px;}
.mr-top10{margin-top: 10px;}
.mr-top15{margin-top: 15px;}
.mr-top20{margin-top: 20px;}
.mr-top25{margin-top: 25px;}
.mr-top30{margin-top: 30px;}
.mr-top35{margin-top: 35px;}
.mr-top40{margin-top: 40px;}

.mr-bottom5{margin-bottom: 5px;}
.mr-bottom10{margin-bottom: 10px;}
.mr-bottom15{margin-bottom: 15px;}
.mr-bottom20{margin-bottom: 20px;}
.mr-bottom25{margin-bottom: 25px;}
.mr-bottom30{margin-bottom: 30px;}
.mr-bottom35{margin-bottom: 35px;}
.mr-bottom40{margin-bottom: 40px;}

.mr-right5{margin-right: 5px;}
.mr-right10{margin-right: 10px;}
.mr-right15{margin-right: 15px;}
.mr-right20{margin-right: 20px;}
.mr-right25{margin-right: 25px;}
.mr-right30{margin-right: 30px;}
.mr-right35{margin-right: 35px;}
.mr-right40{margin-right: 40px;}

.mr-left5{margin-left: 5px;}
.mr-left510{margin-left: 10px;}
.mr-left515{margin-left: 15px;}
.mr-left520{margin-left: 20px;}
.mr-left525{margin-left: 25px;}
.mr-left530{margin-left: 30px;}
.mr-left535{margin-left: 35px;}
.mr-left540{margin-left: 40px;}

/*PADDINGS*/
.padding0{padding: 0px;}

.pd-top2{padding-top: 2px;}
.pd-top5{padding-top: 5px;}
.pd-top10{padding-top: 10px;}
.pd-top15{padding-top: 15px;}
.pd-top20{padding-top: 20px;}
.pd-top25{padding-top: 25px;}
.pd-top30{padding-top: 30px;}
.pd-top35{padding-top: 35px;}
.pd-top40{padding-top: 40px;}

.pd-bottom2{padding-bottom: 2px;}
.pd-bottom5{padding-bottom: 5px;}
.pd-bottom10{padding-bottom: 10px;}
.pd-bottom15{padding-bottom: 15px;}
.pd-bottom20{padding-bottom: 20px;}
.pd-bottom25{padding-bottom: 25px;}
.pd-bottom30{padding-bottom: 30px;}
.pd-bottom35{padding-bottom: 35px;}
.pd-bottom40{padding-bottom: 40px;}

.pd-right2{padding-right: 2px;}
.pd-right5{padding-right: 5px;}
.pd-right10{padding-right: 10px;}
.pd-right15{padding-right: 15px;}
.pd-right20{padding-right: 20px;}
.pd-right25{padding-right: 25px;}
.pd-right30{padding-right: 30px;}
.pd-right35{padding-right: 35px;}
.pd-right40{padding-right: 40px;}

.pd-left2{padding-left: 2px;}
.pd-left5{padding-left: 5px;}
.pd-left10{padding-left: 10px;}
.pd-left15{padding-left: 15px;}
.pd-left20{padding-left: 20px;}
.pd-left25{padding-left: 25px;}
.pd-left30{padding-left: 30px;}
.pd-left35{padding-left: 35px;}
.pd-left40{padding-left: 40px;}

/*FONT SIZES*/
.ft-size12{font-size: 12px;}
.ft-size14{font-size: 14px;}
.ft-size16{font-size: 16px;}
.ft-size18{font-size: 18px;}
.ft-size20{font-size: 20px;}

/*TITLES*/
.page-title h1{font-size: 30px;}
.page-title h2{font-size: 28px;}
.page-title h3{font-size: 26px;}
.page-title h4{font-size: 22px;}
.page-title h5{font-size: 20px;}
.page-title h6{font-size: 18px;}

/*WEIGHT CLASSES*/
.font-weight-300{font-weight: 300;}
.font-weight-400 {font-weight: 400;}
.font-weight-500 {font-weight: 500;}
.font-weight-600 {font-weight: 600;}
.font-weight-700 {font-weight: 700;}
.font-weight-bold {font-weight: bold;}

/*POSITION CLASSES*/
.position-absolute{position: absolute;}
.position-relative{position: relative;}

.inline-block{display: inline-block;}
.block{display: block;}
.vertical-middle{vertical-align: middle;}
.vertical-top{vertical-align: top;}

.middle-vertical{display: inline-block;vertical-align: middle;height: 100%;}
.middle-vertical::before{height: 100%;vertical-align: middle;width: 100%; content: " ";display: inline-block;}

.div-table{display: table;width: 100%;}
.div-table-cell{display: table-cell;}

.ul-list {display: table;list-style: outside none none;margin: 0;padding: 0;}
.ul-list li {display: table-cell;vertical-align: middle;white-space: nowrap;position: relative;}

.ul-block-list {display: block;list-style: outside none none;margin: 0;padding: 0;}
.ul-block-list li {display: block;vertical-align: middle;white-space: nowrap;}

.ul-inline-list {display: inline-block;list-style: outside none none;margin: 0;padding: 0;}
.ul-inline-list li {display: inline-block;vertical-align: middle;white-space: nowrap;}


.fl-left{float: left;}
.fl-right{float: right;}

.left50{float: left;width: 50%; display: inline-block;text-align: left;}
.right50{float: right;width: 50%;display: inline-block;text-align: right;}

.ellipsis{position: relative;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.ellipsis-pre2 {position: relative;overflow: hidden;max-height: 42px;white-space: pre-wrap;}
.ellipsis-pre3 {position: relative;overflow: hidden;max-height: 74px;white-space: pre-wrap;}

.w50{width: 50%;}
.w90{width: 90%;}
.w100{width: 100%;}
.badge {background: #fff none repeat scroll 0 0;color: #ffa000;font-size: 8px !important;padding: 3px 5px;position: absolute;top: -5px;}


.head-expand{background-color: #fafafa;box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);}
.head-expand .home-icon span {background: rgba(0, 0, 0, 0) url("sprites.png") no-repeat scroll -1px 0;display: block;height: 30px;width: 27px;}
.head-expand .brand{border-left: 1px solid #f9f9f9;}
.head-expand .search-inner{border-bottom: 1px solid #e0e0e0;}
.head-expand .search-inner input[type="search"] {border: 0 none;color: #9e9e9e;font-size: 14px;font-weight: 400;background: transparent none repeat scroll 0 0;}
.head-expand .search-inner input[type="text"] {border: 0 none;color: #9e9e9e;font-size: 14px;font-weight: 400;background: transparent none repeat scroll 0 0;}
.head-expand .search-icon, .main_page .search-icon {background: transparent url("sprites.png") no-repeat scroll -23px -28px;border: 0 none;height: 18px;position: absolute;right: 0;width: 26px;}

.head-expand .icon {background: rgba(0, 0, 0, 0) url("sprites.png") no-repeat scroll -23px -28px;display: block;height: 40px;width: 50px;transition: all 0.3s ease 0s; margin: 0 auto;}
.head-expand .icon-frame {background-position: -53px 0;}
.head-expand .ul-list > li:hover, .head-expand .ul-list > li:hover > a .icon-frame {background-color: #1976d2;background-position: -53px -41px;}


.head-expand .icon-bell { background-position: -104px 0;}
.head-expand .ul-list > li:hover, .head-expand .ul-list > li:hover > a .icon-bell:hover {background-color: #1976d2;background-position: -104px -41px;}
.head-expand .icon-map {background-position: -155px 0;}
.head-expand .ul-list > li:hover, .head-expand .ul-list > li:hover > a .icon-map:hover {background-color: #1976d2;background-position: -155px -41px;}
.head-expand .icon-star {background-position: -207px 0;}
.head-expand .ul-list > li:hover, .head-expand .ul-list > li:hover > a .icon-star:hover {background-color: #1976d2;background-position: -207px -41px;}
.head-expand .icon-cog {background-position: -258px 0;}
.head-expand .ul-list > li:hover, .head-expand .ul-list > li:hover > a .icon-cog:hover {background-color: #1976d2;background-position: -258px -41px;}
.head-expand .icon-user {background-position: -306px 0;}
.head-expand .ul-list > li:hover, .head-expand .ul-list > li:hover > a .icon-user:hover {background-color: #1976d2;background-position: -306px -41px;}





.subicons-frame {background-color: #fafafa;box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);visibility: hidden; transition: all 0.3s ease 0s;width: 100%;/*z-index: 999;*/}
.head-expand .head-right-navs > ul > li:hover .subicons-frame{transition: all 0.3s ease 0s;visibility: visible;z-index: 1;}

.head-expand .subicons-frame > li a .icon-lists{background-position: -55px -83px;width: 100%;}
.head-expand .subicons-frame > li:hover a .icon-lists {background-color: #1976d2;background-position: -53px -123px;}

.head-expand .subicons-frame > li a .icon-frame {background-position: -53px 0;width: 100%;}
.head-expand .subicons-frame > li:hover a .icon-frame {background-color: #1976d2;background-position: -53px -41px;}

.sidebar-search {border: 2px solid #fcfcfc;box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);}
.sidebar-search  ul{width: 100%;}
.sidebar-search .search-bar-icon {display: block;height:36px;width: 60px;padding-top: 4px;}

.search-button{right: 0;}

.sidebar-search .search-bar-icon i {background: rgba(0, 0, 0, 0) url("sprites.png") no-repeat scroll -29px -2px;display: block;height: 26px;margin: 0 auto;width: 22px;}
.sidebar-search .search-bar-icon button {background: rgba(0, 0, 0, 0) url("sprites.png") no-repeat scroll -29px -2px;display: block;border: none; height: 26px;margin: 0 auto;width: 22px;}
.sidebar-search .input-item {padding: 0 60px 0 0;width: 100%;}
.sidebar-search .input-item div {height: 36px; background-color: #e0e0e0;border: 0 none;padding: 8px 10px;width: 100%;font-size: 14px;color: #9e9e9e;}

.search-list {border-top: 2px solid #ffffff;}
.list-image { position: relative; overflow: hidden; width: 60px;}
.list-image-inner{overflow: hidden;display: block;height: 64px;}
.list-image-inner img {display: table;height: 100%;margin: 0 auto;object-fit: cover;vertical-align: middle;width: auto;}
.check-icon {background: rgba(0, 0, 0, 0) url("sprites.png") no-repeat scroll -4px -50px;height: 21px;right: 5px;top: 4px;width: 23px;}
.check-count {bottom: 6px;right: 12px;}

.card{overflow: hidden;border-radius: 6px;box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);}
.cards-container{max-height: 500px;overflow: hidden;}
.card .check-icon { background: #ffffff url("sprites.png") no-repeat scroll -25px -47px;border-radius: 0 0 0 5px;display: block;height: 26px;right: 0;top: 0;width: 33px;}
.icon {background: rgba(0, 0, 0, 0) url("sprites.png") no-repeat scroll -23px -28px;transition: all 0.3s ease 0s;}
.card-summery{color: #424242;}
.card-options .icon-comment {background-position: -118px -83px;display: block; height: 25px;width: 28px;}
.card-options .icon-small-star{background-position: -145px -85px;display: block;height: 25px;width: 28px;}
.card-options .icon-small-map{background-position: -172px -84px;display: block; height: 25px;width: 28px;}
.card-options .icon-share{background-position: -200px -84px;display: block; height: 25px;width: 28px;}
.card-options .icon-like{background-position: -227px -85px;display: block;height: 25px;width: 28px;}
.card-options li a:hover span{background-color:rgba(255,255,255, 0.2);transition: all 0.3s ease 0s;}


.hyper-links .links01 {background-position: -126px -125px;display: block;height: 26px;width: 26px;}
.hyper-links .links01:hover{background-position: -126px -153px;}

.hyper-links .links02{background-position: -154px -125px;display: block;height: 26px;width: 26px;}
.hyper-links .links02:hover{background-position: -154px -153px;}
.hyper-links .links03{background-position: -182px -125px;display: block;height: 26px;width: 26px;}
.hyper-links .links03:hover{background-position: -182px -153px;}
.hyper-links .links04{background-position: -210px -125px;display: block;height: 26px;width: 26px;}
.hyper-links .links04:hover{background-position: -210px -153px;}
.hyper-links .links05{background-position: -238px -125px;display: block;height: 26px;width: 26px;}
.hyper-links .links05:hover{background-position: -238px -153px;}
.hyper-links .links06{background-position: -294px -125px;display: block;height: 26px;width: 26px;}
.hyper-links .links06:hover{background-position: -294px -153px;} 



.search-box-right {box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);}
.search-right {border: 0 none;display: inline-block;height: 26px;padding: 0 32px 0 0;text-indent: 10px;vertical-align: middle;width: 100%;}
.search-icon-right {background: #1976d2 url("sprites.png") repeat scroll -26px -2px;border: 0 none;display: inline-block;height: 26px;position: absolute;right: 0;vertical-align: middle;width: 26px;}
.middle-tab-content .tab-content{display: none;}
.middle-tab-content .tab-content.current{display: inherit;}
.article-tabs {right: 0;}
.article-tabs ul li {background: #9c9c9c;padding: 6px;padding: 6px 12px;cursor: pointer;color: #fff;}
.article-tabs ul li.current{background: #fff;color: #757575;}

.article-top-info{display: block;overflow: hidden;border-radius: 4px;border-bottom: 2px solid #ffa000;}
.article-image {overflow: hidden;position: relative;}
.article-image .article-image-inner {display: block;height: 120px;overflow: hidden;width: 120px;}
.article-image .article-image-inner img {display: table;height: 100%;margin: 0 auto;object-fit: cover;vertical-align: middle;width: auto;}
.article-top-info .div-table-cell{vertical-align: top;} 
.article-profile-detail h1{font-weight: bold;font-size: 16px;margin:0 0 10px 0;color:#242424;}
.ft-icon {border-radius: 3px;color: #fff;display: block;font-weight: bold;margin-left: 6px;padding: 4px 7px;}

.article-right-content li a {display: block;}
.article-right-content  .list-icon {background-position: -310px -227px;display: block;height: 25px;width: 30px;}
.article-right-content .check-icon {background-position: -27px -48px;display: block;height: 25px;width: 30px;}
.article-content-wrap {border-radius: 0 0 4px 4px;}
.map-options a, .map-options span{display: block;}
iframe {display: block;}
.map-options .user-icon{background-position: -5px -224px;height: 26px;width: 30px;}
.map-options .flag-icon{background-position: -33px -224px;height: 26px;width: 30px;}
.map-options .like-icon{background-position: -62px -225px;height: 26px;width: 30px;}
.map-options .star-icon{background-position: -93px -224px;height: 26px;width: 30px;}
.map-options .copy-icon{background-position: -183px -199px;height: 26px;width: 30px;}
.map-options .arrowup-icon{background-position: -214px -199px;height: 26px;width: 30px;}
.map-options .pencil-icon{background-position: -275px -199px;height: 26px;width: 30px;}

.map-options a:hover span{background-color: rgba(0, 0, 0, 0.1);}

.article-contents-wrap .tab-content {display: none;}
.article-contents-wrap .tab-content.active-tab {display: inherit;}
.article-contents-wrap ul {width: 100%;background: #f5f5f5;}
.article-contents-wrap ul li {padding: 6px 0;cursor: pointer;text-align: center;}
.article-contents-wrap ul li.active-tab{background: #eeeeee;}
.article-contents-wrap ul li.active-tab::after {top: 100%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(238, 238, 238, 0);border-top-color: #eeeeee;border-width: 10px;margin-left: -10px;bottom: 0;}
.map-close-button {background-position: -5px -72px;display: block;height: 20px;position: absolute;right: 6px;top: 4px;cursor: pointer;width: 20px;}
.text-box-area .map-close-button {top: 11px;}
.map-close-button:hover{background-position: -5px -93px;}

.article-contents-wrap .text-box-area textarea {border: 0 none;border-radius: 3px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);color: #9e9e9e;font-size: 12px;padding: 8px;resize: none;height: 80px;width: 100%;}
.text-camera-icon {background-position: -33px -106px;bottom: 10px;display: block;height: 17px;position: absolute;right: 3px;width: 19px;}

.comment-options .ul-list a, .comment-options .ul-list a span {display: block;font-size: 11px;color: #fff;transition: all 0.3s ease 0s;text-align: center;}
.comment-options .ul-list a div.active-social-menu{background-color: #1976d2;}
.comment-options ul{width: 100%;}
.comment-options .ul-list a >div{background: #9e9e9e;}
.comment-options .comment-big-icon {background-position: -123px -227px;height: 38px;margin: 0 auto;width: 43px;}

.comment-options .message-big-icon{background-position: -188px -227px;height: 38px;margin: 0 auto;width: 43px;}
.comment-options .email-big-icon{background-position: -256px -227px;height: 38px;margin: 0 auto;width: 43px;}


.comment-options .ul-list li:first-child a > div{margin-left: 0;}
.comment-options .ul-list li:last-child a > div{margin-right: 0;}
.comment-options .ul-list a > div {background: #9e9e9e none repeat scroll 0 0;border-radius: 4px;transition: all 0.3s ease 0s;margin: 4px;padding: 5px 0;}
.comment-options li a:hover > div, .comment-options li a:active > div, .comment-options li a:focus > div{background: #1976d2;transition: all 0.3s ease 0s;}
.comment-options li a.active{background: #ffa000;transition: all 0.3s ease 0s;}


.comment{list-style: none;}
.comment .bottom-border{border-bottom: 1px solid #eee; padding-bottom: 10px;}
.person-img {display: inline-block;height: 37px;margin-right: 10px;overflow: hidden;position: relative;width: auto;}
.person-img-inner{overflow: hidden;display: block;height: 35px;border-radius: 3px;}
.person-img-inner img {display: table;height: 100%;margin: 0 auto;object-fit: cover;vertical-align: middle;/*width: 100%;*/}

.comment-reply-option ul{display: inline-block; list-style: none; width: 100%;padding: 0px;margin-bottom: 0px;margin-top: 10px;}
.comment-reply-option ul li{display: inline-block;}

.comment-reply-option ul li a { background: #9e9e9e; border-radius: 2px;  font-size: 10px; text-align: center;height: 60px;width: 60px;text-align: center;}
.comment-reply-option ul li a .img-container {background: url('sprites.png');height: 45px;width: 100%;text-align: center;}
.comment-reply-option ul .cls_active a{background: #ffa000;}
.time-st{color: #9e9e9e; font-size: 12px;}

.unresize{resize:none; position: relative;}
.camera-icon-container{position: absolute;bottom: 0; right: 0; }
.close_div {position: absolute;top: 3px;right: 3px;}
.close_div a {border-radius: 2px;line-height: 16px;padding: 2px 7px;height: 20px;}
.camera-icon { background: url('sprites.png');  background-position: -30px -105px;  width: 24px;  height: 20px;}
.selected-option { padding: 10px 15px;}
.img-container.comment {background-position: -112px -220px !important;}
.img-container.message {background-position: -179px -222px !important;}
.img-container.email {background-position: -247px -221px !important;}
.additional_upper_div ul li .number{height: 15px;font-size: 10px;}
.additional_upper_div ul li .sprit_img{background: url('sprites.png'); height: 20px; width:20px;}

/*.list-content p{display: block; word-wrap: break-word; max-width: 165px; text-align: left;}*/
.list-content p {
display: block;
/* word-wrap: break-word; */
max-width: 165px;
text-align: left;
}
.comment-boxs{box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);}

.gray-title h1{font-size: 32px;color: #8b8b8b;font-weight: 300;}


/*NEW VISION OF EXPANSIVE VIEW*/
.main-box-brder{border: 1px solid #dedede;border-radius: 3px;}
.main-box-padding{padding: 5px;}

.titlebar-info {border-radius: 3px;overflow: hidden;}
.title-content-wrap{border-bottom: 2px solid #ffa000;}
.add-card{background-color: #ffa000;float: right;display: inline-block;padding: 10px;margin-top: 15px;border-radius: 3px;box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);}
.add-card:hover, .add-card:focus, .add-card:active{box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;}
.tp-navs a{background-color: #ffa000;display: block;text-align: center;}
.tp-navs a:hover{background-color: #ce8202;}
.tp-navs a.previous {padding: 6px 10px 40px 10px;position: relative;border-bottom: 1px solid #ffd79f;}
.tp-navs a.next{padding: 40px 10px 6px 10px;position: relative;}
.tp-navs a.previous::after {background: transparent url("sprites.png") no-repeat scroll -354px -7px;bottom: 0;content: " ";height: 32px;left: 0;margin: 0 auto;position: absolute;right: 0;width: 26px;}
.tp-navs a.next::before {background: rgba(0, 0, 0, 0) url("sprites.png") no-repeat scroll -354px -51px;content: " ";height: 32px;left: 0;margin: 0 auto;position: absolute;right: 0;top: 0;width: 26px;}
.team-tags {background: #ffa000 none repeat scroll 0 0;border-radius: 3px;color: #ffffff;padding: 5px 7px;}


.pencil-icn{background-position: -279px -203px;height: 21px;right: 5px;top: 4px;width: 23px;}
.arrowup-icn{background-position: -218px -203px;height: 21px;right: 5px;top: 4px;width: 23px;}
.copy-icn{background-position: -187px -202px;height: 21px;right: 5px;top: 4px;width: 23px;}
.star-icn{background-position: -97px -228px;height: 21px;right: 5px;top: 4px;width: 23px;}
.thumsup-icn{background-position: -67px -228px;height: 21px;right: 5px;top: 4px;width: 23px;}
.flag-icn{background-position: -36px -227px;height: 21px;right: 5px;top: 4px;width: 23px;}
.useradd-icn{background-position: -8px -228px;height: 21px;right: 5px;top: 4px;width: 23px;}	
.list-icn{background-position: -314px -229px;height: 21px;right: 5px;top: 4px;width: 23px;}
.check-icn{background-position: -30px -49px;height: 21px;right: 5px;top: 4px;width: 23px;}

.article-options-wrap {
  margin: 0;
  padding: 0;
  line-height: 0;
}
.article-options-wrap li {float: left;width: 20%;}
.photo-gallery .article-options-wrap li { float: left;width: 25%;}
.profile-photo{overflow: hidden;position: relative;}
.photo-item{display: block;height: 126px;overflow: hidden;}
.photo-item img {display: table;height: 100%;margin: 0 auto;object-fit: cover;vertical-align: middle;width: 100%;}
.photo-gallery .photo-item{height: 66px;}

.article-options-wrap a, .article-options-wrap span {color: #fff;padding: 2px 2px;transition: all 0.3s ease 0s;display: block;}
.options-item {background: #9e9e9e none repeat scroll 0 0;height: 100%;min-height: 126px;padding: 10px;transition: all 0.3s ease 0s;position: relative;}
.options-item:hover, .options-item:focus{background-color: #ffa000;transition: all 0.3s ease 0s;}

.options-item-item {bottom: 16px;color: #ffa000;font-size: 15px;left: 10px;position: absolute;}
.options-item:hover .options-item-item, .options-item:focus .options-item-item{color: #ffffff;}

.article-icn {background-position: -402px -10px;display: inline-block;height: 50px;position: absolute;width: 50px;}
.map-icn{background-position: -460px -10px;display: inline-block;height: 50px;position: absolute;width: 50px;}
.league-icn {background-position: -515px -14px;display: inline-block;height: 50px;position: absolute;width: 50px;}
.table-icn {background-position: -568px -14px;display: inline-block;height: 50px;position: absolute;width: 50px;}
.player-icn {background-position: -633px -14px;display: inline-block;height: 50px;position: absolute;width: 50px;}

.bbc-icn {background-position: -697px -14px;display: inline-block;height: 50px;position: absolute;width: 85px;}
.itv-icn {background-position: -797px -14px;display: inline-block;height: 50px;position: absolute;width: 65px;}
.cnn-icn {background-position: -869px -14px;display: inline-block;height: 50px;position: absolute;width: 66px;}
.news-article-icn {background-position: -402px -137px;display: inline-block;height: 50px;position: absolute;width: 50px;}
.trending-cards-icn {background-position: -465px -137px;display: inline-block;height: 50px;position: absolute;width: 50px;}


.options-item:hover .article-icn, .options-item:focus .article-icn{background-position: -402px -80px;}
.options-item:hover .news-article-icn, .options-item:focus .news-article-icn{background-position: -402px -207px;}
.options-item:hover .trending-cards-icn, .options-item:focus .trending-cards-icn{background-position: -465px -207px;}


.options-item:hover .map-icn, .options-item:focus .map-icn{background-position: -460px -80px;}

.options-item:hover .league-icn, .options-item:focus .league-icn {background-position: -515px -80px;display: inline-block;height: 50px;position: absolute;width: 50px;}
.options-item:hover .table-icn, .options-item:focus .table-icn {background-position: -568px -80px;display: inline-block;height: 50px;position: absolute;width: 50px;}
.options-item:hover .player-icn, .options-item:focus .player-icn {background-position: -633px -80px;display: inline-block;height: 50px;position: absolute;width: 50px;}

.options-item:hover .bbc-icn, .options-item:focus .bbc-icn {background-position: -697px -80px;display: inline-block;height: 50px;position: absolute;width: 85px;}
.options-item:hover .itv-icn, .options-item:focus .itv-icn {background-position: -797px -80px;display: inline-block;height: 50px;position: absolute;width: 65px;}
.options-item:hover .cnn-icn, .options-item:focus .cnn-icn {background-position: -869px -80px;display: inline-block;height: 50px;position: absolute;width: 66px;}


.options-detail {display: none;margin-bottom: 4px;margin-top: 12px;padding: 0 3px;width: 100%;}
.options-detail .options-detail-content {background-color: #dddedf;padding: 4px;}
.options-detail .options-detail-content .options-detail-content-inner{background-color: #ffffff;padding: 8px;}
.option-active {display: inline-block;}
.article-options-wrap > ul > .option-active .options-item::after {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border-bottom: 13px solid #dddedf;border-left: 8px solid rgba(0, 0, 0, 0);border-right: 8px solid rgba(0, 0, 0, 0);bottom: -18px;content: " ";height: 0;left: 0;margin: 0 auto;position: absolute;right: 0;width: 0;}
.options-detail .options-detail-content .options-detail-content-inner p {line-height: 22px;margin-bottom: 10px;}
.options-detail .options-detail-content .options-detail-content-inner p:last-child{margin-bottom: 0;}

.new-card-button {background: #fb9f28 none repeat scroll 0 0;}
.new-card-button > a {display: block;padding: 10px 14px;}

/*END OF NEW VISION OF EXPANSIVE VIEW*/








/*==========responsive===========*/
@media(max-width: 980px){
	.inner .side_nav ul li a {font-size: 15px;}
	.inner .left_container {float: left;width: 39%;text-align: left;width: 15px; height: 15px;}
}
@media(max-width:767px ){
	.inner .abs-container {padding: 0px;}
	.cls_custom_container {float: none;width: auto;}
	.content {float: none;width: 300px;text-align: right;}
	.inner .form-box {margin: 0px auto;width: 300px;float: none;  }
	.inner .left_container {float: none;  width: 100%;	text-align: left;}
	.active::after {content: unset;}
	.head-right-navs {float: inherit; width: 100%;display: block;}
	.head-right-navs > ul{width: 100%;}
	
}

.btn-primary{ padding: 4px; border: none; }

.list-content { width: 122px; } 