/*.timeline{
	padding: 5px 8px;
	background: #E6E6E6;
	margin-top: 20px;
	border-radius: 5px;
	position: relative;
  	top: 0px;
}*/

.timeline > header {
	margin-bottom: 0px;
	height: 35px;
	overflow: hidden;
}

.timeline header h5{
	display: inline-block;
}

.timeline header a, .timeline header .btn-group, .timeline header select{
	display: inline-block;
	float: right;
}

#viewer > div{
	max-height: 49%;
	overflow: auto;
	height: 49%;
	margin-top: 0;
	overflow-x: hidden;
}

#viewer > div:first-child{
	margin-bottom: 2%;
}

#viewer header a{
	margin-left: 5px;
	text-transform: capitalize;
}

.timeline header select{
	margin-right: 15px;
	height: 22px;
}

.timeline .image-section img{
	border-radius: 0px 5px 5px 0px;
}

.timeline-content {
	
	background: white;
	width: 90%;
	float: right;
	margin-right: 5%;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #056671;
	position: relative;
}

.timeline-body{
	position: relative;
}

.timeline-default-view {
  display: inline-block;
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 140px);
}


.distance-in-time date{
	font-weight: bold;
	font-style: italic;
}

.distance-in-time{
	text-align: center;
	width: 100%;
}

.timeline-line, .timeline-line-level3{
    position: absolute;
    top: 0px;
    left: 2px;
    width: 1px;
    background: #056671;
}

.timeline-block{
	display: inline-block;
	width: 100%;
	position: relative;

}

.timeline-point {
	float: left;
	width: calc(6% - 1px);
	position: relative;
	display: block;
	margin-left: 5px;
	position: absolute;
	top: calc(50% - 5px);
}

.roundblock{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	left: -5px;
	background: #056671;
	position: absolute;
	border: 0;
}

.triangleblock{
	
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0px 5px 10px;
	border-color: transparent transparent transparent #056671;
	left: 0px;
	border-style: inset;


}

.timeline-body dl{
	font-size: 11px;
	margin: 0;
}

.timeline-block.active .timeline-content{
	background: #056671;
	opacity: 0.8;
	color: white;
	border-color: transparent;
}

.timeline-block.active .timeline-content-section{
	border-color: white;
}

.timeline-block.active .timeline-content-section dt{
	color: white
}

#description-viewer section p, #media-viewer section p{
	color: #666;
}

#media-viewer section{
	display: inline-block;
	width: 100%;
} 

.timeline-content-section{
	border-bottom: 1px solid #056671;
	padding-left: 3px;
}

.timeline-content-section:last-child{
	border: none;

}

.timeline header .new-timeline-item{
	display: none;
}

.timeline-content-section dt{
	overflow: hidden;
	font-weight: 200;
	color: #666;
}

.timeline-content-section dd{
	overflow: hidden;
	font-size: 13px;
	line-height: 16px;
	overflow: hidden;
}

.timeline-content section{
	border-top: 1px solid #056671;
}

.active .timeline-content section{
	border-color: white;
}

.timeline-content header{
	position: relative;
	height: 49px;
}

.timeline-content .image-section{
	width: 30%;
	display: inline-block;
	border-left: 1px solid #056671;
	height: 100%;
	position: absolute;
	right: 0;
}

section > .timeline-content-section dd{
	max-height: 48px;
	display: inline-block;
	max-width: 100%;
}

.timeline-content .has-image .main-section{
	width: 70%;
	display: inline-block;

}

.timeline-obect-name dd{
	font-weight: bold;
	max-height: 32px;
	overflow: hidden;
}

.right-handed .timeline-content{
	float: left;
}

.right-handed .timeline-point{
	float: right;
	right: 0px;
}

.left-handed .roundblock{
	left: -3px;
	right: auto;

}

.left-handed .timeline-line{
	left: -0.5px;
	z-index: 100;
}

.right-handed .timeline-line{
	right: -0.5px;
	left: auto;
	z-index: 100;
}


.left-handed .timeline-content{
	margin: 0;
}

.right-handed .timeline-content{
	margin: 0;
}

.right-handed.timeline{
	padding-right: 0;
}

.left-handed.timeline{
	padding-left: 0;
}


.right-handed .timeline-point, .left-handed .timeline-point{
	width: 6px;
	margin: 0;
}

.right-handed .roundblock{
	right: -3px;
	left: auto;
	z-index: 100;
}

.compare-wrapper > .compare-level3s{
	display: none;
}



.compare-wrapper{
	width: 100%;
	display: inline-block;
	position: relative;
}

.compare-wrapper .active-wrapper{
	width: 100%;
}


.left-handed .compare-level3s {
	width: 45%;
	float: right;
	position: absolute;
	left: 55%;
	z-index: 100;
}

.right-handed .compare-level3s {
	width: 45%;
	float: left;
	position: absolute;
	z-index: 100;
}

.left-handed .compare-level2s{
	width: 50%;
	float: left;
}

.right-handed .compare-level2s{
	width: 50%;
	float: right;
}



#comparison .timeline header h5{
	text-align: center;
	display: block;
	margin-botton: 0;
}

#comparison .timeline.right-handed > header{
	width: 50%;
	margin-left: 50%;
}

#comparison .timeline.left-handed > header{
	width: 50%;
}

.right-handed .compare-level3s .timeline-content:before {
  height: 1px;
  position: absolute;
  width: 10%;
  background: #056671;
  content: "";
  right: -10%;
  top: calc(50% - 3px);
}

.left-handed .compare-level3s .timeline-content:before {
  height: 1px;
  position: absolute;
  width: 10%;
  background: #056671;
  content: "";
  left: -10%;
  top: calc(50% - 3px);
}

.right-handed .compare-level3s .timeline-block.first-child .timeline-content:before{
	width: 25%;
	right: -25%;
}

.left-handed .compare-level3s .timeline-block.first-child .timeline-content:before{
	width: 25%;
	left: -25%;
}


.left-handed .timeline-line-level3{
	left: 0;
}

.right-handed .timeline-line-level3{
	left: auto;
	right: 0;
}

.favourite-level1{
	position: relative;
}

