.container#resource-item
	.row
		.col-md-10.col-md-offset-1
			= simple_form_for [@level1, @level2], :html => {novalidate: false} do |f|
				.col-md-8
					%section#main-part
						
						.btn-group.pull-left
							= link_to "Back", :back, class: "btn btn-default btn-branded"
							= f.button :submit, "Save", class: "btn btn-default btn-branded"
							 
						%header
							= f.input :name, placeholder: "Name", required: false, label: false, input_html: { required: true }
						%article
							= f.input :description, :as => :ckeditor, required: false, label: false
				.col-md-4
					%section#sidebar
						%figure
							= f.input :avatar, as: :file
						%article
							.item-field
								= f.input :date, as: :date, placegolder: "Date", required: false, label: false, input_html: { value: Date.today, required: true }, start_year: Date.today.year - 100, end_year: Date.today.year + 10
							.item-field
								= f.input :visible, type: :boolean, required: false, label: "Visible", :input_html => { :checked => true }

							- if @level2.id?
								.item-field
									= level2_path(@level2)


:javascript
	$(document).ready(function(){
		CKEDITOR.on('instanceLoaded', function(e) {e.editor.resize("100%", $(".ckeditor").height())} );	
	});