- if current_user.admin? || current_user.super_user?
	= simple_form_for level2, :html => {novalidate: false} do |f|
		%tr
			%td= level2.id
			%td= f.input :name, placeholder: "Name", required: false, label: false, input_html: {required: true, "data-id" => level2.id, "data-name" => "name"}
			%td
				- level2.level1s.each do |level1|
					%span= link_to level1.name, level1
			%td= f.input :date, as: :string, placegolder: "Date", required: false, label: false, input_html: { required: true, :class => 'date_picker', "data-id" => level2.id, "data-name" => "date" }
			%td= link_to level1_level2_url(@level1 || level2.level1s.last, level2), [@level1 || level2.level1s.last, level2] if level2.level1s.any?
			%td= f.input :visible, type: :boolean, required: false, label: false, :input_html => {"data-id" => level2.id, "data-name" => "visible" }
			%td= f.input :list_price, placeholder: "Price", required: false, label: false, input_html: { required: true, "data-id" => level2.id, "data-name" => "list_price" }
			%td= f.input :discounted_price, placeholder: "Discounted price", required: false, label: false, input_html: { required: true, "data-id" => level2.id, "data-name" => "discounted_price" }
			%td= link_to "Level3s", level2_level3s_path(level2)
			%td= link_to "Comments", polymorphic_path([level2, Comment])
			%td
				.btn-group.btn-group-xs
					= link_to "Show", @level1 ? [@level1, level2] : level2, class: "btn btn-default btn-branded"
					= link_to "Delete", @level1 ? [@level1, level2] : level2, method: :delete, class: "btn btn-default btn-branded"

- else
	%tr
		%td= level2.id
		%td= level2.name
		%td
			- level2.level1s.each do |level1|
				%span= link_to level1.name, level1
		%td= level2.created_at.strftime("%B %d, %Y")
		%td= link_to level1_level2_url(@level1 || level2.level1s.last, level2), [@level1 || level2.level1s.last, level2] if level2.level1s.any?
		%td= level2.visible ? "True" : "False"
		%td= level2.list_price
		%td= level2.discounted_price
		%td= link_to "Level3s", level2_level3s_path(level2)
		%td= link_to "Comments", polymorphic_path([level2, Comment])
		%td
			.btn-group.btn-group-xs
				= link_to "Show", @level1 ? [@level1, level2] : level2, class: "btn btn-default btn-branded"
				= link_to "Edit", @level1 ? edit_level1_level2_path(@level1, level2) : edit_level2_path(level2), class: "btn btn-default btn-branded"
				= link_to "Delete", @level1 ? [@level1, level2] : level2, method: :delete, class: "btn btn-default btn-branded"
		
