%table.table.table-bordered
	%thead
		%tr
			%th ID
			%th Name
			%th Level1s
			%th Date
			%th Hyperlink
			%th Visible
			%th Price
			%th Discounted price
			%th Level3s
			%th Comments
			%th{width: "150"} 
	%tbody#level2s
		= render level2s

:javascript
	$("#level2s input, #level2s select").change(function(e){
		data = {"level2": {}};
		
		if ($(this).hasClass("boolean")){
			data["level2"][$(this).data("name")] = $(this).is(':checked') ? 1 : 0;
		} else {
			data["level2"][$(this).data("name")] = $(this).val();
		}
		$.ajax({
			method: "put",
			url: "/level2s/" + $(this).data("id"),
			data: data,
			dataType: "script"
		})
	});