- if params.has_key?(:new_view)
  var htmlData = '#{escape_javascript(render partial: "levels/level2", collection: @level2s,  as: :object )}';
  TimeLine.renderChildLevels(htmlData);
- else
  - if params[:page] && params[:page].to_i > 1
    - @level2s.each do |level2|
      var newElement = '#{escape_javascript(timeline_item(level2))}';
      window.timelines.addElement("level2", newElement);

  - else
    var collection = '#{escape_javascript(timeline_items(@level2s))}';
    window.timelines.render("level2", collection)
