.container
	.row
		.col-md-12.text-center
			%h1.page-head
				= @level1.name if @level1.present?
				Level2s
		.col-md-12
			.btn-group
				= link_to "Back to level1s", level1s_path, class: "btn btn-default btn-branded"

				- if @level1
					= link_to "New level2", new_level1_level2_path(@level1), class: "btn btn-default btn-branded"
			= render partial: "level2s/level2s", locals: {level2s: @level2s}
			.btn-group
				= link_to "Back to level1s", level1s_path, class: "btn btn-default btn-branded"

				- if @level1
					= link_to "New level2", new_level1_level2_path(@level1), class: "btn btn-default btn-branded"