.container#resource-item
	.row
		.col-md-12
			.col-md-8
				%section#main-part
					
					.btn-group.pull-left
						= link_to "Back", @level1 ? level1_level2s_path(@level1) : level2s_path, class: "btn btn-default btn-branded"
						= link_to "Edit", edit_level2_path(@level2), class: "btn btn-default btn-branded"
							
					%header
						%h2= @level2.name
						
					= link_to "View comments", polymorphic_path([@level2, Comment]), class: "btn btn-default btn-branded pull-left"
					= link_to "Add media", new_polymorphic_path([@level2, Resource]), class: "btn btn-default btn-branded pull-right"

						
						
					%article
						= raw @level2.description
			.col-md-4
				%section#sidebar
					%figure
						= image_tag(@level2.avatar.url)
					%article
						.item-field
							= @level2.date.strftime("%B %d, %Y")
						.item-field
							= @level2.visible ? "Visible" : "Invisible"
						.item-field
							= level2_path(@level2)
