$('#myModal').modal('hide');
window.timelines.config["level2"].timeline.reloadTimeline();

var description = '#{escape_javascript(render partial: "descriptions/viewer", locals: {object: @level2})}';
window.timelines.addDescriptionToViewer(description);

flashMessage("Level2 was successfully updated");