.head-expand
  .head-left-navs.inline-block.fl-left
    %ul.ul-list
      %li
        %a.home-icon.bg-blue.d-left10.pd-right10.pd-top5.pd-bottom5{:alt => "Prepanat", "data-no-turbolink" => true, :href => root_path}
          %span
      %li.bg-blue.brand
        %a.color-white.ft-size20.font-weight-bold.pd-left10.pd-right10.pd-top5.pd-bottom5 Brand
      %li.bg-trans
        - if user_signed_in?
          .pd-left10.pd-right10.search.position-relative
            .search-inner.position-relative
              %form#search{:action => "/search", :method => "GET"}
                %input{:name => "query", :placeholder => "Search", :type => "search", :value => nil, :placeholder => "Main search..."}
                %input{:name => "viewtype", :placeholder => "Search", :type => "hidden", :value => params[:viewtype] || "expansive"}
                  %button.search-icon{:type => "submit"}
      - if user_signed_in?
        / %li
        /   %a.btn.btn-default.btn-sm{:alt => "favourites", :href => user_favourites_path(current_user)} Favourites
        / %li
        /   %a.btn.btn-default.btn-sm{:alt => "compare", :href => compare_path} Compare
        / %li
        /   %a.btn.btn-default.btn-sm{:alt => "sign up", :href => user_path(current_user)}
        /     = current_user.first_name.present? ?  current_user.first_name : "Profile"
        / - if current_user.admin? || current_user.super_user?
        /   %li
        /     %a.btn.btn-default.btn-sm{:alt => "sign up", :href => admin_path} Admin
        / %li
        /   = yield :view_button

       
  / /END OF HEAD LEFT NAVS/
  - if user_signed_in?
    .head-right-navs.inline-block.fl-right
      %ul.ul-list
        %li.new-card-button
          %a{:href => ""} + New Card
        %li
          %a
            %span.icon-frame.icon
          - if params[:query]
            %ul.ul-block-list.position-absolute.subicons-frame
              %li
                %a{href: url_for(params.except(:viewtype)) + "&viewtype=expansive", alt: "Expansive view"}
                  %span.icon-frame.icon
              %li
                %a{href: url_for(params.except(:viewtype)), alt: "Standart view"} 
                  %span.icon-lists.icon
        %li
          %a
            %span.icon-bell.icon
        %li
          %a
            %span.icon-map.icon
        %li
          %a{:alt => "favourites", :href => user_favourites_path(current_user)}
            %span.icon-star.icon

        %li
          %a
            %span.icon-cog.icon
          %ul.ul-block-list.position-absolute.subicons-frame
            %li
              %a.btn.btn-default.btn-sm{:alt => "log out", "data-method" => "delete", :href => destroy_user_session_path} Logout
        %li
          %a{:alt => "sign up", :href => user_path(current_user)}
            %span.icon-user.icon
        - if current_user.admin? || current_user.super_user?
          %li
            %a{:alt => "Admin", :href => admin_path} Admin
            %span.icon-user.icon
        / %li
        /   %a.btn.btn-default.btn-sm{:alt => "log out", "data-method" => "delete", :href => destroy_user_session_path} LO
  / /END OF HEAD RIGHT NAVS/
  .clearfix



