- if object.distance_in_time && object.distance_in_time != 0

  .distance-in-time{style: "margin-top: #{15 * object.distance_in_time}px"}
    %date= display_date(object.date, params[:granularity])

.timeline-block{"data-item-type" => object.class.to_s.downcase, "data-item-id" => object.id, "data-parent-id" => object.parentID ? object.parentID : nil, "data-item-name" =>  object.slug}
  .timeline-point
    - if object.user == current_user || current_user.admin? || current_user.super_user?
      = link_to  edit_polymorphic_path(object), remote: true do
        .roundblock
    - else
      = link_to  object do
        .roundblock

  .timeline-content
    .timeline-content-wrapper
      %header{class: "#{'has-image' if object.avatar.present? }"}
        .main-section
          .timeline-content-section
            %dd= object.date.strftime("%B %d, %Y")
          .timeline-content-section.timeline-obect-name
            %dd= truncate object.name, length: 160
        - if object.avatar.present?
          .image-section
            = image_tag(object.avatar.url, width: "100%", height: "100%")

      - if object.description.present?
        %section
          .timeline-content-section
            %dd= strip_tags(object.description).gsub("&#13;", "").truncate(160)
