- if (object.class.to_s.downcase != "level3")
  - if params[:granularity] && object.distance_in_time && object.distance_in_time != 0

    .distance-in-time{style: "margin-top: #{15 * object.distance_in_time}px"}
      %date= display_date(object.date, params[:granularity])

  .timeline-block{"data-item-type" => object.class.to_s.downcase, "data-item-id" => object.id, "data-parent-id" => object.parentID ? object.parentID : nil, "data-item-name" =>  object.slug}
    .timeline-point
      - if object.user == current_user || current_user.admin? || current_user.super_user?
        = link_to  edit_polymorphic_path(object), remote: true do
          .roundblock
      - else
        = link_to  object do
          .roundblock

    .search-list.position-relative{class: item_bg(object.class.to_s.downcase)}
      .list-image.fl-left
        .list-image-inner
          =image_tag object.avatar.present? ? object.avatar.url : "image01.jpg"
      .list-content.fl-left.position-realative.pd-left10.pd-top5      
        %p.color-white.ft-size14.ellipsis= object.date.strftime("%d %B %Y")
        %p.color-white.ft-size14.ellipsis Name:#{truncate object.name}
        %span.check-icon.position-absolute
        %span.check-count.position-absolute.color-white.font-weight-bold 1
      .clearfix

- else
  .timeline-block{"data-item-type" => object.class.to_s.downcase, "data-item-id" => object.id, "data-parent-id" => object.parentID ? object.parentID : nil, "data-item-name" =>  object.slug}
    .timeline-point
      - if object.user == current_user || current_user.admin? || current_user.super_user?
        = link_to  edit_polymorphic_path(object), remote: true do
          .roundblock
      - else
        = link_to  object do
          .roundblock
    
    .card.position-relative.bg-white.mr-bottom15
      .card-content.position-relative.bg-yellow
        .list-image.fl-left
          .list-image-inner
            =image_tag object.avatar.present? ? object.avatar.url : "image01.jpg"

        .list-content.fl-left.pd-left10.pd-top5
          %p.color-white.ft-size14.ellipsis= object.date.strftime("%d %B %Y")
          %p.color-white.ft-size14.ellipsis Name:#{truncate object.name}
          %span.check-icon.position-absolute.bg-white
          %span.check-count.position-absolute.color-white.font-weight-bold 1
        .clearfix
      .card-summery
        %p.pd-left10.pd-right10.pd-top10.pd-bottom15.ft-size14 Summary: #{object.description.html_safe}
      .card-options.bg-yellow
        %ul.ul-list.fl-right
          %li
            %a
              %span.icon.icon-comment
          %li
            %a
              %span.icon.icon-small-star
          %li
            %a
              %span.icon.icon-small-map
          %li
            %a
              %span.icon.icon-share
          %li
            %a
              %span.icon.icon-like
        .clearfix
      .clearfix
