%section
  - if type == 'level3'
    - if is_expansive_view?
      / .add-new-card
      /   %a.add-card{:href => ""} + New Card
      / .clearfix
    .cards-container.scroll.mCustomScrollbar.mr-top15._mCS_1{"data-mcs-theme" => "dark"}
      .timeline{"data-type"=> type}
        %section
          .timeline-body
            .timeline-wrapper
              .timeline-line
              .timeline-collection
                = timeline_items(collection)

  - else
    .timeline{"data-type"=> type}
      -unless is_expansive_view?
        %header
          %h5= type.pluralize.capitalize
          = link_to "New", "/" + type.pluralize.to_s + "/new" , class: "btn btn-primary btn-xs btn-branded #{'new-timeline-item' if type != 'level1'}", remote: true

          %select
            %option{value: "off"} Off
            %option{value: "name", selected: type == "level1" ? "selected" : nil} Name
            %option{value: "day"} Day
            %option{value: "month"} Month
            %option{value: "year"} Year
            %option{value: "decade"} Decade


      %section
        .timeline-body
          .timeline-wrapper
            .timeline-line
            .timeline-collection
              = timeline_items(collection)

        -# expansive view layout
        - if is_expansive_view? and type != 'level3'
          = timeline(Object.const_get(type.capitalize).child_name, params[:query] ? eval("@#{Object.const_get(type.capitalize).child_name}s") : nil)

      