!!!
%html
  %head
    %title Title
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

  %body

    - if flash[:notice]
      #alert-wrapper.alert-success
        %span
          %i.fa.fa-check
        .alert{role: "alert"}
          = flash[:notice]
    - if flash[:alert]
      #alert-wrapper.alert-danger
        %span
          %i.fa.fa-close
        .alert{role: "alert"}
          = flash[:alert]


    #content_wrapper
      = render partial: "layouts/header"
      #content.container-fluid
        = yield
  #loader.loading{:style => "display:none;"} Loading…

